<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">Pretty Flamingos</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/herren-4/wp-20160925-18-47-03-pro.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="In Trainingslaune auf der Wiesn: sechs Herren der TSV-Basketball-Mannschaft "></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/herren-4/wp-20160925-18-47-03-pro.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Normalerweise tragen fünf bis sieben Herren der Mannschaft Männer 4 die flamingofarbenen Trikots am Montagabend zum Spiel bei ihrem Training: Um sich vom gegnerischen Teamoptisch abzugrenzen.</p>

                <p class="lead">Das Bild entstand bei einem anderen Anlass: Wie schon in den Jahren davor waren auch zum Oktoberfest 2016 wieder einige aus unserer Freizeitmannschaft im Augustinerzelt auf Exkursion.</p>

                <blockquote class="right">Ein Neuzugang bei den Wiesn-Gängern verstärkte die bewährte Runde. Es war ein recht geselliger Abend, bei dem mancher sein gutes Auge auch beim „Kartoffel in den (leeren) Krug werfen“ unter Beweis stellte. Und das sogar nach der zweiten Mass! </blockquote>

                <p>Ein Ausfall im Vorfeld des Abends musste kompensiert werden. Ein bewährter Wiesn- und Distanzwurf-Spezialist hatte übersehen, dass er an dem Tag schon zu einem Geburtstag eingeladen war.</p>

                <p>Auch im echten Trainingsbetrieb der Männer 4 kommt es immer mal wieder vor, dass jemand wegen anderer Verpflichtungen nicht in die Halle kommen kann.</p>

                <p>Umso froher ist die Mannschaft über einen relativ stabilen Kern-Kader und Neuzugänge, wie es sie auch in diesem Herbst wieder gab.</p>


                <p>Viel Spaß</p>

                <p>Stefan Riefler</p>

                <p>Link zu den <a href="#event-calender-man-4"> Männer Trainings- und Spieltermine</a></p>

            </div>
        </div>

        <aside class="col-1-4 right last">

            <div class="widget">
                <h3 class="widget-title">Neueste Artikeln</h3>
                <ul class="list-1 widget-list">
                    <li><a href="#artikel-jetzt-erst-recht">Jetzt erst recht!</a></li>
                    <li><a href="#about-man-1">Saisonzusammenfassung<br>Herren 1</a></li>
                    <!--<li><a href="post.html">Pre season camp success</a></li>-->
                    <!--<li><a href="post.html">Road to the grand finals</a></li>-->
                </ul>
            </div>
        </aside>
    </div>

</div>
