<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">Jetzt erst recht!</h1>

                <div class="mosaic-block circle">
                    <a href="/tsv-forstenried/app/assets/img/u18-mix/qualifikationsturnier-traunstein-teamfoto.png" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Insert Title"></a>
                    <div class="mosaic-backdrop">
                        <img src="/tsv-forstenried/app/assets/img/u18-mix/qualifikationsturnier-traunstein-teamfoto.png" alt="Mock" />
                    </div>
                </div>
                <img src="/tsv-forstenried/app/assets/img/u18-mix/qualifikationsturnier-traunstein-teamfoto.png" alt="Mock" />


                <p>Nach der schmerzhaften Niederlage am Wochenende zuvor fuhr die U18 des TSV Forstenrieds am 10.07.16 zu einem weiteren Qualifikationsturnier nach Traunstein. Aber nicht nur wir wollten in die Bezirksliga aufsteigen, sondern auch DJK Landsberg, TV Traunstein und TSV Neuötting.</p>

                <p class="lead">In 3 Spielen a 7 Minuten pro Viertel ging es für uns um 11:15 Uhr gegen DJK Landsberg los. In einem hart umkämpften Spiel konnten wir leider unsere kurzzeitige Führung nicht ausbauen und verloren letztendlich mit einem Punkt. Doch davon ließen wir uns nicht verunsichern und spielten ein souveränes zweites Spiel gegen TSV Neuöttigen. Durch eine aggressive Defense und einer schnellen Transition Offense setzten wir den Gegner von Anfang an unter Druck und erzielten daraus schnelle Körbe.</p>

                <p>Traunstein hatte seine beiden Spiele gewonnen. DJK Landsberg stand mit zwei Siegen und einer Niederlage da. TSV Neuötting hingegen hat alle seine drei Spiele verloren und wir hatten einen Sieg und eine Niederlage.</p>
                <p>Da nun der direkte Vergleich zwischen Landsberg, Traunstein und Forstenried zählt, war uns eines klar: Ein Sieg gegen TV Traunstein musste her.</p>
                <p>Der U16 Berzirksligameister 15/16 war uns durchaus bekannt! Wir wurden immerhin Zweiter in der Liga, konnten aber in beiden Spielen gegen Traunstein keinen Sieg für uns verbuchen. Um 18 Uhr war es nun soweit: das große Finale TSV Forstenried – TV Traunstein.</p>


                <blockquote class="right">Von Anfang an war das komplette Team fokussiert und bereit alles für den Sieg zu geben. Es wurde um jeden Ball gekämpft und jeder feuerte den anderen an. An der Linie blieben wir ruhig und verwandelten 23 unserer 31 Freiwürfe (74%). Mit dieser Teamleistung gelang es uns letztendlich 59-50 gegen Traunstein zu gewinnen und somit den Aufstieg in die Bezirksliga perfekt zu machen.</blockquote>



                <p>Es spielten: Jasper K. (12/16/22), Erol A. (6/8/5) 5 Dreier!, Chris L. (-/0/5), Marko G. (18/6/2), Raphael W. (12/4/23), Moritz V. (2/0/2), Declan C. (5/3/0), Luis W. (0/1/0), Felix V. (0/2/0), Pit S. (0/0/0), Agus C. (4/4/0).</p>

                <p>Viel Spaß</p>
                <p>Max R</p>

                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spielenzeiten</a></p>

            </div>
        </div>

    </div>

</div>
