<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">Saisonstart in die Bezirksliga</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/general/basketball-cover-2.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Saisonstart in die Bezirksliga"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/general/basketball-cover-2.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Am 9. Oktober fängt für uns die Saison 16/17 an. Nach zwei wirklich schwierigen, spannenden und mitreißenden Turnieren haben wir uns für die Bezirksliga qualifizieren können (siehe Berichte).</p>

                <p class="lead">Was schon mal ein toller Erfolg für uns ist. Wir sind eine sehr junge Mannschaft. Aus dem älteren Jahrgang 1999 sind nur drei Spieler (Sebastian Lahrtz, Christian Lippach und Moritz Vogel) wirklich aktiv.</p>

                <p>Der 2000er Jahrgang ist mit folgenden Spielern stark vertreten: Julian Abromeit, Erol Akkurt, Declan Canavan, Agustin Córdoba, Marko Gajic, Leonard Röttle, Pit Sander, Sebastian Schönherr, Zisis Tzouridis, Raphael Westiner und Luis Wieser. Wir freuen uns, wenn es der Spielplan der U16 zulässt, dass Emil Grünwald und Felix Vogel uns von Zeit zu Zeit verstärken können. </p>
                <p>Unsere Chancen sind sehr schwer einzuschätzen. Wir hoffen, uns im Mittelfeld der Tabelle fest zu setzen. Ein Traum wäre es, den dritten Platz zu erreichen. Der würde uns berechtigen, an der Qualifikation für die Bezirksoberliga 17/18 teilzunehmen.</p>

                <blockquote class="right">Der U16 Berzirksligameister 15/16 war uns durchaus bekannt! Wir wurden immerhin Zweiter in der Liga, konnten aber in beiden Spielen gegen Traunstein keinen Sieg für uns verbuchen. Um 18 Uhr war es nun soweit: das große Finale TSV Forstenried – TV Traunstein.</blockquote>

                <p>Wie in den letzten zwei Jahren würde ich gerne mit der Mannschaft über die Ostertage an einem Turnier in Berlin teilnehmen. Schön wäre es, wenn auch noch andere Mannschaften von Forstenried mitkämen.</p>

                <p>Viele Grüße</p>
                <p>Eberhard K.</p>

                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spieltermine</a></p>

            </div>
        </div>

    </div>

</div>
