<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">U18 Bezirkliga - Saisonabschluss</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/u18-mix/easter-moabit-in-berlin-tournament.png" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="TSV Wasserburg-TSV Forstenried 86:67 (22:10; 37:24;60:43)"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/u18-mix/easter-moabit-in-berlin-tournament.png" alt="Mock" />
                    </div>
                </div>

                <p>Die Saison ist vorüber. Wir gewannen von 16 Spielen sieben. Damit belegen wir den 6. Platz. Zwischenzeitlich träumten wir von der Qualifikation für die Bezirksoberliga, dafür hätten wir den dritten Platz erreichen müssen. Vor den letzten drei Saisionspielen belegten wir einen Qualifikationsplatz. Doch die letzten Spiele haben wir leider verloren.</p>

                <p class="lead">Schade, aber es war dennoch eine tolle Saison. Erfreulich war unsere Dreierquote, mit 66 getroffenen Dreiern belegen wir in der Dreier-Tabelle Platz 4.</p>

                <p>Erol ist mit 22 Dreier auf Platz 4 und Chris mit 20 Dreiern auf Platz 5 der Besten-Dreier-Werfer. Weniger stark ist unsere Trefferquote bei den Freiwürfen. Wir haben von 400 zugesprochenen Freiwürfen leider nur 173 getroffen. In der Freiwurf-Tabelle belegen wir damit den vorletzten Platz mit einer Trefferquote von 43,3%.</p>
                <p>Ganz klar, da gibt es Aufholpotential. Leider haben wir zu viele Körbe der Gegner zugelassen. Ein Zeichen, dass wir nicht aggressiv genug verteidigen. Da sollten wir für nächste Saison dran arbeiten. Zwei Spieler waren bei allen Spielen dabei. Der Dank geht an Marko und Luis. Marko ist auch unser fleißigster Punktesammler.</p>

                <blockquote class="right">Mit 226 Punkten belegt er Platz 6 der Besten-Werfer-Liste. Glückwunsch. Platz 11 belegt Basti mit 205 gefolgt von Raphael der mit 172 Punkten Rang 16 innehat. Der 99er Jahrgang wechselt nun in den Herrenbereich. Ich wünsche Euch alles Gute und ich hoffe, dass ihr dort Euren Spaß am Basketball ausleben könnt.</blockquote>

                <p>Gebt nicht so schnell auf, wenn es mal nicht so klappt, bleibt am Ball, am orangenen Ball. Der 2000er Jahrgang wird der ältere Jahrgang und ich denke, dass wir uns für die Bezirksliga qualifizieren können.</p>
                <p>Schön wär es. Vielleicht bekommen wir ja auch wieder bessere Trainingszeiten, unsere Dienstagshalle war und ist leider nicht gut zu erreichen. Vielleicht hat dies auch manchmal zur geringen Trainingsbeteiligung geführt. Bleiben wir am Ball und geben wir immer unser Bestes.</p>

                <p>Vielen Dank an Euch Spieler</p>

                <p>Viele Grüße</p>
                <p>Eberhard Krüger</p>

                <p>Marko 226 Punkte/ 16 Spiele; Basti 205/15; Raphael: 172/15; Chris 138/15; Erol: 100/13; Moritz: 98/15; Declan: 58/12; Luis: 41/16; Arian: 27/9; Felix: 21/5; Agus: 3/3; Julian: 2/2; Pit: 2/5</p>

                <p>Link zu den <a href="http://www.basketball-bund.net/index.jsp?Action=102&liga_id=20719" target="_blank">Tabelle DBB</a></p>

                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spieltermine</a></p>

            </div>
        </div>

    </div>

</div>
