<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">Bezirksliga – geht noch mehr?</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/general/no-limit-basketball-small.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Bezirksliga – geht noch mehr?"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/general/no-limit-basketball.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Wir sind mitten drin in der Saison. Die Hinrunde ist abgeschlossen und wir haben bereits drei Rückrundenspiele hinter uns.</p>

                <p class="lead">Wir stehen zur Zeit auf einem tollen dritten Platz. In vier Spielen hatten wir das Nachsehen.</p>

                <p><Sechs></Sechs> Spiele konnten wir gewinnen. Gegen die beste Mannschaft Jahn Freising haben wir leider zweimal verloren. Gegen TS Jahn München verloren wir gleich im ersten Spiel mit über 50 Punkten, doch das Rückspiel haben wir erst vor kurzem für uns entscheiden können. Eine tolle Entwicklung für die Mannschaft!</p>
                <p>Wenn wir bis zum Ende der Saison den dritten Platz halten können, sind wir für die Qualifikation der Bezirksoberliga zugelassen. Das wäre innerhalb des Basketballverbands die höchste Liga.</p>

                <blockquote class="right">Gegenüber dem Vorjahr haben wir uns bei den Dreierwürfen stark verbessert. Von hinter der 6,25 m Linie haben wir letztes Jahr nur 13 mal getroffen.</blockquote>

                <p>Bis zum jetzigen Zeitpunkt hat die Mannschaft schon 44 mal hinter der 3er Linie getroffen. Chris und Erol gehören mit 16 bzw. 14 Dreiern zu den Top Ten der Liga. Glückwunsch!</p>

                <p>Arbeiten müssen wir weiter an unserer Freiwurfquote. Bisher haben wir nur 42% der Freiwürfe getroffen, alle anderen Mannschaften treffen besser. Letztes Jahr hatten wir noch eine Trefferquote von 56% und rangierten damit in der Liga auf Platz 2. Schön, das es noch Entwicklungspotential gibt.</p>

                <p>Umstellen mussten wir uns in der Verteidigung. Ab der U18 darf auch eine Zonenverteidigung (Raumdeckung) gespielt werden.</p>

                <p>In den ersten Spielen hatten wir noch kein Mittel gefunden, die Verteidigung zu knacken.</p>

                <p>In den letzten Spielen haben die Gegner schnell wieder von Zonen- auf Manndeckung umgestellt, weil wir mit unserem schnellen Passspiel immer besser die Zonenverteidigung aushebeln konnten.</p>

                <p>Ostern werden wir wieder an einem Turnier in Berlin teilnehmen, darüber berichten wir dann in der nächsten Ausgabe.</p>

                <p>Viele Grüße</p>
                <p>Eberhard K.</p>

                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spieltermine</a></p>
                <p>Link zu den <a href="http://www.basketball-bund.net/index.jsp?Action=102&liga_id=20719" target="_blank">Dritten Platz in der Tabelle DBB</a></p>

            </div>

        </div>

        <aside class="col-1-4 right last">
            <div class="widget">
                <h3 class="widget-title">Neueste Artikeln</h3>
                <ul class="list-1 widget-list">
                    <li><a href="#u16-hat-dritten-platz-erarbeitet">U16 hat den dritten Platz in der Tabelle erarbeitet</a></li>
                    <li><a href="#weihnachtsfeier-im-intermezzo-2017">Weihnachtsfeier im Intermezzo</a></li>
                    <li><a href="#muenchen-basket-tsv-forstenried">München Basket-TSV Forstenried - U18</a></li>
                    <li><a href="#ts-jahn-muenchen-2-tsv-forstenried">TS Jahn München 2 - TSV Forstenried - U18</a></li>
                    <li><a href="#article-die-herren-1-nimmt-sich-hohe-ziele-vor">Die Herren 1 nimmt sich hohe Ziele vor</a></li>
                    <li><a href="#artikel-die-damenmannschaft-sucht-fuer-die-kommende-saison-verstaerkung">Die Damenmannschaft sucht für die kommende Saison Verstärkung</a></li>
                </ul>
            </div>
        </aside>

    </div>

</div>
