<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">

                <h1 class="title">Eastercup-Moabit in Berlin</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/u18-mix/season-end-2017.jpeg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="TSV Wasserburg-TSV Forstenried 86:67 (22:10; 37:24;60:43)"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/u18-mix/season-end-2017.jpeg" alt="Mock" />
                    </div>
                </div>

                <p>Über Ostern war die U18 in Berlin beim Eastercup-Moabit. Sportlich haben wir uns mit Mannschaften aus Litauen, Tschechien, Holland und Deutschland gemessen. Es waren überwiegend Mannschaften, die höherklassiger spielen als wir.</p>

                <p class="lead">Der 5. Platzierte der anderen Gruppe war eine NBBL Mannschaft aus Hanau. Leider kamen wir in unserer Gruppe nicht über den 5. Platz hinaus. Mit vier Niederlagen wurden uns unsere Grenzen klar aufgezeigt.</p>

                <p>Das erste Spiel haben wir gegen BG Ostholstein 21:42 verloren. Gegen B.A. Snaipers aus Littauen lief es nicht viel besser. Wir verloren 23:46, doch im nach hinein war das noch eines der besseren Spielen. </p>
                <p>Am Samstag haben wir zuerst gegen Burned Sports aus Holland gespielt. Unser Punktekonto fiel mit sieben Punkten besonders mager aus. Wir verloren das Spiel 42:7. Gegen WYNT aus Berlin haben wir wahnsinnig viele Dreier kassiert, am Ende gewann WYNT 79: 22.</p>

                <blockquote class="right">WYNT wurde später souverän Turniersieger. In den Playdowns spielten wir gegen den Viertplatzierten der anderen Gruppe.</blockquote>

                <p>BK Lions Jindřichův Hradecx und hat gegen uns mit 45:12 gewonnen. Dennoch haben sich die Jungs nicht die Lust nehmen lassen. Nach fünf Niederlagen legten wir eine Extraeinheit Basketball ein. Wir mieteten Halle für den Sonntagabend und zockten unter uns nochmal auf unserem Niveau. Spaß hat es gemacht.</p>
                <p>Kulturell hat Berlin für uns auch einiges geboten. Begeistert waren die Jungs davon, Berlin am Abend mit einem Fahrrad zu erkunden. Wir sind am Bundestag, Schloss Bellvue und dem Brandenburger Tor gewesen.</p>

                <p>Sonntag haben wir uns in der Sammlung Scharf-Gerstenberg die Sonderausstellung Surreale Sachlichkeit „Werke der 1920er- und 1930er-Jahre aus der Nationalgalerie angeschaut. Bilder von Otto Dix, Christian Schad, René Magritte, Max Ernst.</p>
                <p>Und anschließend hauten wir die Mannschaftskasse auf den Kopf: Es gab Döner. Das Einkaufen kam ebenfalls nicht zu kurz: Geshoppt wurde auf dem Kurfürstendamm und am Alexanderplatz, wo wir uns die Weltuhr anschauten, aber nicht auf den Fernsehturm hochfuhren. Ein großer Dank geht auch an Max, der als Trainer dabei war und unermüdlichen Einsatz zeigte.</p>

                <p>Viele Grüße</p>
                <p>Eberhard Krüger</p>

            </div>
        </div>

    </div>

</div>
