<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">München Basket-TSV Forstenried 63-71</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/general/tranning-ball-pullover_small.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="München Basket-TSV Forstenried 63-71 (22:8; 37:32; 45:48)"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/general/tranning-ball-pullover_small.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Am 04.12. stand für uns – die U18 des TSV Forstenried – das letzte Spiel einer durchwachsenen Hinrunde an. Wir mussten auswärts bei München Baskets ran. Wir hatten bis dahin drei Spiele gewonnen und drei, teils unglücklich, verloren.</p>

                <p class="lead"> Mit einem Sieg aus dem vorigen Spiel im Rücken wollten wir also zum ersten Mal in dieser Saison eine positive Bilanz erreichen.</p>

                <p>Trotz dieses klar formulierten Ziels verschliefen wir den Start des Spiels größtenteils, gerieten früh ins Hintertreffen und lagen nach dem ersten Viertel mit 22:8 zurück. Wir schafften es aber uns von diesem schwachen Start zu erholen und bewerkstelligten im zweiten Viertel eine starke Aufholjagd und sorgten dafür, dass das Spiel wieder offen war.</p>
                <p>Im dritten Viertel konnten wir uns leicht, aber nicht entscheidend absetzen und so ging es im letzten Spielabschnitt mal wieder um alles. Dank unserer starken, aggressiven Defense und weil wir endlich unsere Freiwürfe halbwegs konstant trafen, brachten wir letztendlich den Sieg nach Hause.</p>

                <p> In einem knappen Spiel als Sieger vom Platz zu gehen ist immer ein tolles Gefühl und gibt uns zusätzlich Rückenwind für die Rückrunde. In jedem Fall war der Sieg ein gelungener Abschluss der Hinrunde und des Jahres 2016.</p>

                <p>Viele Grüße</p>
                <p>Moritz Vogel</p>

                <p>Erol Akkurt 5 Punkte/1 Dreier; Declan Canavan 9; Agustin Córdoba 1; Marko Gajic 13; Sebastian Lahrtz 19; Christian Lippach; Moritz Vogel 4; Raphael Westiner 14; Luis Wieser 6.</p>
                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spieltermine</a></p>

            </div>
        </div>

        <aside class="col-1-4 right last">
            <div class="widget">
                <h3 class="widget-title">Neueste Artikeln</h3>
                <ul class="list-1 widget-list">
                    <li><a href="#muenchen-basket-tsv-forstenried">München Basket-TSV Forstenried - U18</a></li>
                    <li><a href="#ts-jahn-muenchen-2-tsv-forstenried">TS Jahn München 2 - TSV Forstenried - U18</a></li>
                    <li><a href="#article-die-herren-1-nimmt-sich-hohe-ziele-vor">Die Herren 1 nimmt sich hohe Ziele vor</a></li>
                    <li><a href="#artikel-die-damenmannschaft-sucht-fuer-die-kommende-saison-verstaerkung">Die Damenmannschaft sucht für die kommende Saison Verstärkung</a></li>
                </ul>
            </div>
        </aside>

    </div>

</div>
