<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">U18 Qualifikation zur Bezirksliga am 8.7.17 zu Haus und am 15.7. in Neuötting</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/general/magic-johnson.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="U18 Qualifikation zur Bezirksliga"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/general/magic-johnson-small.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Im Juli stehen immer die Qualifikationsturniere an. Für unsere U18 Mannschaft entscheidet sich, ob wir in der nächsten Saison in der Kreisliga oder Bezirksliga spielen. Um Bezirksliga spielen zu können, hat jede Mannschaft zwei Möglichkeiten sich zu qualifizieren. Entweder wird die Mannschaft erster in der ersten Qualifikationsrunde (8.7.17) oder gewinnt das Turnier in der 2. Runde (15.7.17).</p>
                <p>In der ersten Runde hatten wir drei Gegner, Bad Aibling, Unterhaching und TS Jahn. Das Turnier haben wir selbst ausgerichtet. Ein großer Dank geht an die Eltern, die uns ein tolles Buffet mit Kuchen, Waffeln und Semmeln gezaubert haben und sich bereiterklärten, den Verkauf zu übernehmen. Dadurch sind 110 Euro in die Mannschaftskasse geflossen. Auch an alle Anschreiber und Zeitnehmer am Kampfgerichtstisch ein herzlichen Dank. Nur mit Eurer Unterstützung war es möglich, dass Turnier bei uns auszurichten.</p>

                <p class="lead">1. Spiel TSV Forstenried – TuS Bad Aibling 56:40 (20:13, 35:25, 45:29)</p>

                <p>Das erste Spiel gegen Bad Aibling konnten wir noch für uns entscheiden. Wir kamen zu einem ungefährdeten 16-Punkte-Sieg. In der 5. Minute des ersten Viertels sind wir erstmals in Führung gegangen und haben diese bis zum Ende des Spiels nicht mehr abgegeben.</p>
                <p>Es spielten: Jasper Krüger 14 Punkte, Felix Vogel, 13, Erol Akkurt 10, 1 Dreier; Raphael Westiner, 10, Emil Grünwald 4, Luis Wieser 3, Declan Canavan 2.</p>

                <p class="lead">2. Spiel: TSV Forstenried –TSV Unterhaching 56:61 (9:25; 18:34; 35:44)</p>

                <p>Im zweiten Spiel ging es gegen Unterhaching, in der Saison hatten wir zwei mal gewonnen. Doch das erste Viertel haben wir völlig verschlafen. Zwischenzeitlich lagen wir sogar mit 19 Punkten zurück. Unterhaching warf und traf 5 Dreier innerhalb der ersten 8 Minuten. Ab dem zweiten Viertel haben wir das Spiel besser in den Griff bekommen und konnten die Führung von Unterhaching verringern, doch zum Ende hat Unterhaching mit fünf Punkten gegen uns gewonnen. Entscheidend sicherlich auch, dass wir nur sieben Spieler waren, einfach zu wenig, um ein ganzes Spiel aggressiv zu verteidigen.</p>
                <p>Es spielten: Jasper Krüger 18 Punkte; Raphael Westiner 18, Felix Vogel 6, Declan Canavan 6, Emil Grünwald 5, 1 Dreier, Erol 3 1 und Luis Wieser.</p>

                <p class="lead">3. Spiel: TSV Forstenried – TS Jahn München II 22:68 (1:19; 5:43; 18:53)</p>

                <p>Im dritten Spiel gegen TS Jahn waren wir chancenlos. Das Spiel ging mit 22:68 verloren. Damit waren wir dritter im Turnier und mussten eine Woche später bei der 2. Runde erster werden, um nächste Saison in der Bezirksliga spielen zu können.</p>
                <p>Es spielten: Jasper Krüger 6, Luis Wieser 6, Marko 5, Emil Grünwald 3, Felix Vogel 2, Erol Akkurt, Declan Canavan.</p>

                <p>Am 15.7.17 hatten wir das Turnier in der 2. Runde der Qualifikation zur Bezirksliga in Neuötting. Wir mussten erster werden, um in der Saison 17/18 in der Bezirksliga spielen zu können.</p>

                <p class="lead">1. Spiel: TSV Neuötting –TSV Forstenried 34:107 ( 14:28; 17:56; 24:80; 34:107)</p>

                <p>Unser erster Gegner war Neuötting, sie hatten zuvor schon eine knappe Niederlage gegen Vilsbiburg hinnehmen müssen. Uns gelang es dem Spiel unseren Stempel aufzudrücken und gingen bereits in der 5. Minuten mit 14:3 in Führung. Die Führung haben wir bis zum Ende ausgebaut und sogar über 100 Punkte erzielen können. Ein ungefährdeter Sieg. Sehr angenehm für den Coach, der sich über das ganze Spiel keine Sorgen machen musste. Benjamin und Alex konnten in ihrem ersten Spiel für den TSV Forstenried gleich mal zweistellig Punkten. Hervorragend.</p>
                <p>Es spielten: Jasper Krüger 20, Erol Akkurt 13, 1 Dreier, Raphael Westiner 13, Benjamin Omerovic 12, Alex Deutsch 12, Marko Gajic 11, Felix Vogel 10, Luca Hoffmann 8, Declan Canavan 8.</p>

                <p class="lead">2. Spiel: TSV Vilsbiburg II – TSV Forstenried 51: 90 (16:24, 27:46; 36:68)</p>

                <p>Nach den ersten fünf Minuten haben wir schon mit 16:2 geführt zwar schmolz die Führung bis zum Ende des ersten Viertels wieder auf 8 Punkte zusammen doch  die Führung haben wir das ganze Spiel nicht mehr aus der Hand gegeben. Zwischenzeitlich hatten wir einige Foulprobleme, Jasper hatte bereits zur Halbzeit 3 Fouls. Im dritten Viertel kam er deswegen gar nicht zum Einsatz, dennoch konnten wir unsere Führung stetig ausbauen. Großen Anteil hatte Erol der mit 22 Punkten gemeinsam mit Jasper zum Topscorer avancierte.</p>
                <p>Es spielten: Erol Akkurt 22 Punkte, 1 Dreier, Jasper Krüger 22, Raphael Westiner 19, Marko Gajic 11, Declan Canavan 8, Felix Vogel 6, Benjamin Omerovic 2, Alex Deutsch.</p>

                <p>Viele Grüße</p>
                <p>Eberhard K.</p>

                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spieltermine</a></p>

            </div>
        </div>

    </div>

</div>
