<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">TS Jahn München 2-TSV Forstenried 71:82</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/general/nike-rim-adv.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="TS Jahn München 2-TSV Forstenried 71:82 (14:24;35:44;56:60)"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/general/nike-rim-adv.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Die U18 war am Samstag bei Jahn im Einsatz. Vor dem Spiel haben wir uns frustriert an das Hinspiel erinnert. Es war das erste Spiel der Saison und Jahn vermöbelte uns mit einer 50 Punkte Differenz.</p>

                <p class="lead">Für das Rückspiel haben wir uns gezielt vorbereitet. Im Training übten wir den Angriff gegen eine Zonenverteidigung ein, gegen die wir im Hinspiel kein Gegenmittel fanden.</p>

                <p>Jahn startete tatsächlich mit einer Zonenverteidigung, doch durch 2 Dreier von Chris und 6 schnellen Punkten von Raffa lagen wir schnell 12:2 vorne. Jahn stellte auf Manndeckung um, doch es half nix. Zur Pause lagen wir immer noch mit 9 Punkten vorne. Sollte da ein Sieg drin sein? Das 3. Viertel starteten wir desaströs.</p>
                <p>Wir agierten überhastet und unkonzentriert. Schwupps war die Führung hin und wir lagen zwischenzeitlich mit 3 Punkten hinten. Nach einer Auszeit haben wir uns berappelt und konnten zum Ende des Viertels mit einer 6 Punkte Führung den Grundstein für den Sieg legen. Bis zur 37.</p>

                <blockquote class="right">Minute konnten wir die Führung halten, dann traf Declan einen famosen Dreier der uns auf die Gewinnerstraße führte. Mit zwei verwandelten Freiwürfen von Raffa einem Dreier von Chris führten wir kurz vor Schluss mit 14 Punkten. Zum Ende haben wir mit 11 Punkten gewonnen und sind zur Zeit Zweiter in der Tabelle.</blockquote>

                <p>Ein Riesendank an die Eltern von Chris und Basti, die uns lautstark nach vorne peitschten und mithalfen die Negativserie im 3. Viertel zu überwinden. Vielen Dank.</p>
                <p>Nächstes Wochenende spielen wir am Samstag gegen Unterhaching um 14:30 Uhr.</p>


                <p>Viele Grüße</p>
                <p>Ebse</p>

                <p>Es spielten: Christian Lippach 13 Punkte/3 Dreier; Moritz Vogel 7/1; Marko Gajic 13/2; Raphael Westiner 29; Luis Wieser 9, Declan Canavan 3/1; Sebastian Lahrtz 12.</p>
                <p>Die Mannschaft hat insgesamt 7 Dreier und eine Trefferquote bei den Freiwürfen von 52% (27:14) erzielt.</p>

                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spieltermine</a></p>

            </div>
        </div>

        <aside class="col-1-4 right last">
            <div class="widget">
                <h3 class="widget-title">Neueste Artikeln</h3>
                <ul class="list-1 widget-list">
                    <li><a href="#muenchen-basket-tsv-forstenried">München Basket-TSV Forstenried - U18</a></li>
                    <li><a href="#ts-jahn-muenchen-2-tsv-forstenried">TS Jahn München 2 - TSV Forstenried - U18</a></li>
                    <li><a href="#article-die-herren-1-nimmt-sich-hohe-ziele-vor">Die Herren 1 nimmt sich hohe Ziele vor</a></li>
                    <li><a href="#artikel-die-damenmannschaft-sucht-fuer-die-kommende-saison-verstaerkung">Die Damenmannschaft sucht für die kommende Saison Verstärkung</a></li>
                </ul>
            </div>
        </aside>

    </div>

</div>
