<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">TSV Wasserburg-TSV Forstenried 86:67</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/general/basketa.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="TSV Wasserburg-TSV Forstenried 86:67 (22:10; 37:24;60:43)"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/general/basketa.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Wir waren davon überzeugt, dass ein Sieg in Wasserburg möglich ist. Immerhin hatten wir das Hinspiel gewonnen und die letzten Ergebnisse von Wasserburg ließen darauf schließen, dass sie in einer Formkrise steckten.</p>

                <p class="lead">Doch wir waren es, die in der Formkrise waren und so gar nicht ins Spiel kamen. Schnell haben wir mit 12 Punkten zurückgelegen, zur Halbzeit waren es 13 Punkte. Ein Abstand, der noch aufzuholen wäre, doch nicht am Sonntag.</p>

                <p> Zwischenzeitlich hat Wasserburg sogar mit 28 Punkten geführt. Dennoch haben wir uns in den letzten 5 Minuten nicht hängen lassen, sondern durch eine Mann-Presse dafür gesorgt, dass die Niederlage nicht noch schlimmer ausfällt.</p>
                <p>Die letzten fünf Minuten konnten wir sogar 14:6 gewonnen. Damit fiel die Niederlage immer noch mit 19 Punkten zu hoch aus. Doch Wasserburg hatte einen guten Tag und wir waren nur zu siebt angereist.</p>

                <blockquote class="right">Ich kann mich nicht erinnern, dass wir jemals ein Spiel auswärts mit so wenigen Spielern gewonnen haben. Moritz war unser überragender Mann und konnte mit 23 Punkten überzeugen.</blockquote>

                <p> Nun gilt es sich auf das nächste Spiel am Samstag zu konzentrieren und Utting Paroli zu bieten. </p>
                <p>Das Hinspiel hatten wir verloren. Mit großer Motivation und hoffentlich mit 10 Spielern gehen wir ins Match, um zu gewinnen.</p>

                <p>Viele Grüße</p>
                <p>Eberhard Krüger</p>

                <p>Es spielten: Christian Lippach 10 Punkte/2 Dreier; Erol Akkurt 12/2; Moritz Vogel 23/1; Marko Gajic 6; Raphael Westiner 10; Luis Wieser; Arian Pasha 6</p>

                <p>Link zu den <a href="http://www.basketball-bund.net/index.jsp?Action=102&liga_id=20719" target="_blank">Dritten Platz in der Tabelle DBB</a></p>

                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spieltermine</a></p>

            </div>
        </div>

    </div>

</div>
