<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">TSV Forstenried: TS Jahn München II  56:107 (10:25; 27:46; 45:78)</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/general/photo-basketball-070315.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="TSV Forstenried: TS Jahn München II"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/general/photo-basketball-070315.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Nach den erfolgreichen Aufstiegsturnieren haben wir uns sehr auf den Saisonbeginn gefreut.</p>

                <p class="lead">Das Auftaktspiel war gleich gegen eine sehr gute Mannschaft: TS Jahn München II. Sehr motiviert und mit Vorfreude sind wir in das Spiel gegangen.</p>

                <p>Durch gute Defense und konzentrierter Offense haben wir eine 8:0 Führung herausgespielt. Doch in Folge haben wir leider das erste Viertel 10:25 verloren.</p>
                <p>Im zweiten Viertel sind wir nochmal herangekommen, da wir durch die bessere Defense auch im Schnellangriff leichte Punkte machten.</p>

                <blockquote class="right">Doch diese guten Phasen konnten wir leider nicht konstant halten, und somit haben wir zum Schluss doch sehr deutlich verloren.</blockquote>

                <p>Allerdings haben wir aus diesem Spiel viel dazugelernt und freuen uns auf das nächste Spiel gegen Unterhaching.</p>

                <p>Viele Grüße</p>
                <p>Eberhard K.</p>

                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spieltermine</a></p>

            </div>
        </div>

    </div>

</div>
