<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">TSV Forstenried-TSV Utting 79-67</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/general/goalnews_small.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="TSV Forstenried-TSV Utting 79-67 (20:10;40:31; 64:46)"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/general/goalnews_small.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Nach der zuletzt bitteren Niederlage gegen Wasserburg wollten wir das Heimspiel gegen Utting nutzen, um Selbstvertrauen und vor Allem den dritten Platz zurück zu erobern.</p>

                <p class="lead">Zahlenmäßig waren wir klar im Vorteil, was uns auch erlaubte, teilweise eine Fullcourt Presse zu spielen.</p>

                <p>Schon im ersten Viertel konnten wir uns mit zehn Punkten absetzen, was nicht zuletzt an unserer starken Arbeit am Brett lag.</p>
                <p>Im Laufe des Spiels hat sich Utting jedoch gesteigert, vor Allem aufgrund zweier sehr starker Individualspieler, welche zusammen 40 der insgesamt 67 Punkte Uttings erzielten.</p>

                <blockquote class="right">Ich kann mich nicht erinnern, dass wir jemals ein Spiel auswärts mit so wenigen Spielern gewonnen haben. Moritz war unser überragender Mann und konnte mit 23 Punkten überzeugen.</blockquote>

                <p>Im Laufe des Spiels hat sich Utting jedoch gesteigert, vor Allem aufgrund zweier sehr starker Individualspieler, welche zusammen 40 der insgesamt 67 Punkte Uttings erzielten.</p>

                <p>Viele Grüße</p>
                <p>Christian Lippach</p>


                <p>Link zu den <a href="http://www.basketball-bund.net/index.jsp?Action=102&liga_id=20719" target="_blank">Dritten Platz in der Tabelle DBB</a></p>

                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spieltermine</a></p>

            </div>
        </div>

    </div>

</div>
