<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">TSV Jahn-Freising: TSV Forstenried 79:67</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/u18-mix/dsc-0256-small.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="TSV Jahn-Freising: TSV Forstenried 79:67 (17:17; 38:32; 61:50)"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/u18-mix/dsc-0256.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Unser drittes Spiel der Saison war gegen Jahn Freising. Das erste Spiel für das wir länger fahren mussten.</p>

                <p class="lead">Leider wurde die Fahrt diesmal nicht belohnt und wir unterlagen bedauerlicherweise der Heimmannschaft.</p>

                <p>Zwar war das Spiel bis zum Ende des ersten Viertels sehr ausgeglichen - der Spielstand war 17:17 - doch konnte sich Freising in den nächsten zwei Vierteln absetzen, am Ende des Dritten  stand es 61:50 gegen TSV Forstenried.</p>
                <p>Auch wenn wir im letzten Viertel zwischenzeitlich auf 3 Punkte verkürzen konnten reichte unser Einsatz diesmal nicht für den Sieg und der TSV Jahn Freising hat 79:67 gegen uns gewonnen.</p>

                <p>Dieses Ergebnis führte anfangs zu Verwirrungen, da dem Kampfgericht ein paar Fehler beim Aufschreiben unterlaufen sind, was auch zur Folge hatte, dass wir unerwartete Dreipunkteschützen unter uns hatten.</p>

                <p>Viele Grüße</p>
                <p>Raphael Westiner</p>

                <p>Es spielten: Erol 3, Declan 4, Marko 5, Basti 18, Chris 9, Pit, Felix 2, Moritz 4, Raphael 22, Luis.</p>

                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spieltermine</a></p>

            </div>
        </div>

    </div>

</div>
