<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">TSV Forstenried- TSV Unterhaching 56:49</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/general/hot-ball-hand.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="TSV Forstenried- TSV Unterhaching 56:49 (7:11; 24:26;35:36)"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/general/hot-ball-hand.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Am Samstagnachmittag konnten wir ein 56:49 Sieg gegen TSV Unterhaching erkämpfen.</p>

                <p class="lead">Durch das Fehlen von Rafa, Basti & Erol waren wir nur 8 Spieler, was sich im Laufe des Spieles bemerkbar gemacht hat.</p>

                <p>Letzten Endes gewannen wir das Spiel durch Kampf und Teamgeist. Unser bester Scorer war an diesem Tag Marko mit 24 Punkten und 5 von 5 Freiwürfen.</p>

                <p>Viele Grüße</p>
                <p>Luis Wieser</p>

                <p>Es spielten: Christian Lippach 10 Punkte/1 Dreier; Moritz Vogel 8; Marko Gajic 24/1; Felix Vogel 7; Luis Wieser 4; Declan Canavan 3/1; Arian Pasha, Pit Sander.</p>
                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spieltermine</a></p>

            </div>
        </div>

    </div>

</div>
