<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">TSV Unterhaching: TSV Forstenried 56:79</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/general/basketball-cover-2.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="TSV Unterhaching: TSV Forstenried 56:79 (15:27; 37:42; 46:64)"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/general/basketball-cover-2.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Die doch deutliche Niederlage am ersten Spieltag gegen Jahn München wollten wir nicht auf uns sitzen lassen.</p>

                <p class="lead">Am Samstag machten wir uns dann mit dem Mannschaftsbus und weiteren Fans auf den Weg nach Unterhaching.</p>

                <p>Unser erster Eindruck von der gegnerischen Mannschaft: die sind ja alle kleiner als wir. Wir müssten dann doch die Reboundhoheit haben. </p>
                <p>Und das war dann auch, vor allem in der zweiten Halbzeit, der Fall. Aber zum Spielverlauf: Wir führten das gesamte Spiel gaben die Führung trotz einiger knappen Phasen nicht her und konnten am Ende doch deutlich mit 79:56 gewinnen und wir mussten unsere neu gewonnen Taktikkenntnisse gegen Zone nicht auspacken, weil die Gegner das ganze Spiel über Mannverteidigung spielten.</p>

                <blockquote class="right">Die lustigste Aktion des Spiels: Unser Center Argus greift über seinen Verteidiger und schnappt diesem den Ball vor dessen Augen weg.</blockquote>

                <p>Am Ende waren wir alle sehr glücklich über den Sieg und freuen uns schon auf die nächste Herausforderung nächsten Samstag gegen Jahn Freising.</p>

                <p>Viele Grüße</p>
                <p>Sebastian Lahrtz</p>

                <p>Es spielten: Erol 9, Declan 4, Agus, Marko 6, Basti 31, Chris 11, Pit, Felix 7, Raphael 8, Luis 3.</p>

                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spieltermine</a></p>

            </div>
        </div>

    </div>

</div>
