<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">TSV Forstenried – TSV Wasserburg 66:58</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/general/c700x420.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="TSV Forstenried – TSV Wasserburg 66:58 (20:16; 32:20; 54:36)"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/general/c700x420.jpg" alt="Mock" />
                    </div>
                </div>

                <p>An dem Wochenende kam ein alter Bekannter zu Besuch. Bei der Qualifikation zur Bezirksliga haben wir noch gegen Wasserburg mit vier Punkten verloren.</p>

                <p class="lead">Damals spielten sie schon Zone, so dass wir beim letzten Training noch die Laufwege einübten, die die Zone knacken sollte.</p>

                <p>In der ersten Hälfte konnte sich keine Mannschaft absetzen. Drei seiner vier Drei-Punkte-Würfe machte Chris im ersten Viertel, im zweiten Viertel traf Erol gleich zwei Mal von hinter der 3-Punkte-Linie.</p>
                <p>Insgesamt traf Erol auch vier Dreier. Zur Pause führten wir gerade mal mit 2 Punkten. Nach der Pause haben wir aufgedreht und konnten dass Viertel mit 22:6 für uns entscheiden, das Punktepolster konnten wir auf 18 hochschrauben.</p>

                <blockquote class="right">Wasserburg hatte sich noch nicht aufgegeben und kämpfte sich nochmal auf sieben Punkte heran.</blockquote>

                <p>Doch eine Minute vor Schluss konnte Erol mit seinem vierten Dreier den Vorsprung wieder auf 10 Punkte ausbauen. Damit war die Revanche aus dem Bezirksligaturnier geglückt. Und wir haben gegen die Zone gewinnen können.</p>
                <p>Bisher haben wir noch nie so viele Dreier getroffen wie in diesem Spiel. Insgesamt 8. Chapeau. Nächsten Samstag geht es nach Utting.</p>

                <p>Viele Grüße</p>
                <p>Sebastian Lahrtz</p>

                <p>Es spielten: Chris 14; Erol 12; Moritz 2; Marko 3; Raphael 12; Julian; Declan 5; Basti 14; Luis 4; Zisis und Agus.</p>

                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spieltermine</a></p>

            </div>
        </div>

    </div>

</div>
