<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">Turniersieg in Mammendorf</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/u18-mix/gelungener-saisonabschlung-der-u18.png" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Saisonstart in die Bezirksliga"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/u18-mix/gelungener-saisonabschlung-der-u18.png" alt="Mock" />
                    </div>
                </div>

                <p>Am	27.05.2017 fuhren	wir, die U18	des	TSV	Forstenried,	zum	alljährlichen	Jugendturnier	nach Mammendorf. Das	Turnier	bot	uns	die	perfekte	Möglichkeit,	die	Saison	16/17	abzuschließen	und	ein letztes	Mal	mit	unserem	älteren	Jahrgang aufzuspielen.</p>

                <p class="lead">Insgesamt	nahmen in	unserer	Altersstufe	mit	uns	vier Mannschaften	teil.	Somit	hießen unsere Gegner	für	den	Samstag:	TSV	1865	Dachau,	TSV	Milbertshofen	und	der	Gastgeber	SV	Mammendorf.</p>

                <p>In	drei Spielen	a	zweimal	12 Minuten	ging es für	uns	um 13:00	Uhr	als	Erstes	gegen	Dachau.	In einem knappen	und	eng	umkämpften	Spiel, unterlagen wir	mit	-4 Punkten knapp.</p>
                <p>Unsere Chancen sind sehr schwer einzuschätzen. Wir hoffen, uns im Mittelfeld der Tabelle fest zu setzen. Ein Traum wäre es, den dritten Platz zu erreichen. Der würde uns berechtigen, an der Qualifikation für die Bezirksoberliga 17/18 teilzunehmen.</p>

                <blockquote class="right">Doch wir lernten schnell aus unseren zuvor gemachten Fehlern	und	gewannen mit +12 gegen die Gastgeber aus Mammendorf.	Parallel	zu	unserem	zweiten	Spiel, verlor Dachau wie	wir	mit	-4 gegen Milbertshofen. Somit war für uns klar: Alles	ist noch drin!</blockquote>

                <p>In	unserem	letzten	Spiel gegen	Milbertshofen	musste also ein Sieg her. Gegen die gegnerische	3-2 Zonenverteidigung, überzeugten	wir	durch	schnelles	aber geduldiges	Passen.	Der	freie	Mann wurde am	Ende stets gefunden	und	so gewannen	wir	letztendlich mit	9	Punkten.</p>

                <p>Am	Ende konnten	wir	uns	im direkten	Vergleich	mit zwei Siegen	und	einer	Niederlage durchsetzen, und	uns	über den Ersten Platz freuen.</p>

                <p>Nun fokussieren wir uns aber auf das Qualifikationsturnier	für	die	Bezirksliga	Mitte	Juli. Um wie die zwei	Jahre	zuvor	in	der	Bezirksliga	Oberbayern	zu	spielen,	müssen	wir	uns	wieder	gegen	zwei	oder drei	gegnerische	Mannschaften durchsetzen. Aber das Turnier in Mammendorf hat uns nochmal gezeigt: Alles ist drin!</p>

                <p>Viele Grüße</p>
                <p>Max Röttle</p>

                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spieltermine</a></p>

            </div>
        </div>

    </div>

</div>
