<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">Nachwuchstreffen der Basketballer beim TSV Fürstenried</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/general/youthmeeting.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Nachwuchstreffen der Basketballer beim TSV Fürstenried"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/general/youthmeeting.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Der TSV Fürstenried geht seinen Weg zum Ausbildungsverein für Basketballer im Münchener Westen erfolgreich weiter. Nach 2 souveränen Meisterschaften der U12 in Kreisklasse und Kreisliga sollte ein hochkarätiges Turnier Aufschluß über die Stärke der Nachwuchshoffnungen geben.</p>
                <p>Am 7. Mai war es dann soweit. In der Mehrfachhalle des Fürstenrieder Gymnasiums an der Graubündener Straße trafen sich 5 Mannschaften im Kampf um die Krone der vielversprechendsten Nachwuchsspieler in München.</p>
                <p>Die Gastvereine kamen von Bayern München, MTSV Schwabing, TSV Haar und München-Ost. Entsprechend hoch war die Motivation aller Kinder. Die ca. 100 Zuschauer, zumeißt die Eltern, durften bei spannenden Spielen mit teilweise knappen Ergebnissen bis zur letzten Sekunde mitfiebern. </p>

                <p class="lead"> Im Modus Jeder gegen Jeden kristallisierte sich Schwabing früh als stärkste Formation heraus und gewann letztendlich das Turnier ohne Punktverlust mit  klaren Korbvorsprung ungeschlagen. </p>

                <blockquote class="right">Dahinter lieferten sich die Kids vom FC Bayern und München-Ost einen heißen Schlagabtausch, den die Ost-ler buchstäblich in aller letzter Sekunde über die Zeit retten konnten und dem grossen FCB den zweiten Platz abtrotzten. Bayern München war dadurch dritter Sieger.</blockquote>


                <p>Die Hausherren, mit dem einzigen Mädel im Aufgebot, zeigte grossen Einsatz und Siegeswillen, doch die Platzierungsspiele sowohl gegen München-Ost als auch gegen Bayern München gingen knapp verloren.</p>

                <p>Ein souveräner Sieg gegen den TSV Haar bescherte den vierten Platz und stolze Kids, die hoch erhobenen Hauptes im nächsten Jahr das Abenteuer Bezirksliga sicher bestehen werden. Nicht zu vergessen sind die fünftplatzierten vom TSV Haar, die nie aufgaben und im letzten Spiel durch einen Sieg gegen München-Ost sehr wohl ihr Können zeigten.</p>

                <p>Gratulation an alle Beteiligten für einen rundum gelungenen Event. Für alle Kinder ab 10 Jahren bietet der TSV Fürstenried die Möglichkeit zum Ausprobieren. Kommt doch einfach Mittwochs um 17:00 in die Halle an der Graubündener Straße.</p>


                <p>Viele Grüße</p>

                <p>Thomas Röhlich</p>

            </div>
        </div>

        <aside class="col-1-4 right last">

            <div class="widget">
                <h3 class="widget-title">Neueste Artikeln</h3>
                <ul class="list-1 widget-list">
                    <li><a href="#artikel-jetzt-erst-recht">Jetzt erst recht!</a></li>
                    <li><a href="#about-man-1">Saisonzusammenfassung<br>Herren 1</a></li>
                    <!--<li><a href="post.html">Pre season camp success</a></li>-->
                    <!--<li><a href="post.html">Road to the grand finals</a></li>-->
                </ul>
            </div>
        </aside>
    </div>

</div>
