<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


	<div class="wrapper blog-roll ad-pad clearfix">

		<!-- Start Main Column  -->
		<div class="col-3-4">

			<div class="clearfix post">


				<h1 class="title">Saisonzusammenfassung Herren 1</h1>

				<div class="mosaic-block circle">
					<a href="assets/img/herren-1/basketball-herren-1.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Mannschaft Photo 2016"></a>
					<div class="mosaic-backdrop">
						<img src="assets/img/herren-1/basketball-herren-1.jpg" alt="Mock" />
					</div>
				</div>

				<p>Die Saison 2015/2016 war alles in allem eine erfolgreiche Saison für die erste Herrenmannschaft vom TSV Forstenried.</p>

				<p class="lead">Am Sonntag den 17.04.2016  absolvierte das Team seine letzte Partie der Spielzeit gegen Dachau, welche mit 85:79 gewonnen wurde. Damit konnte das Team den 6. Platz (von 10) in der Tabelle sichern. Das Primärziel, der Klassenerhalt in der Bezirksliga, wurde somit erreicht!</p>

				<p>Das letzte Spiel spiegelte den Saisonverlauf wieder. Es hatte Höhen sowie Tiefen. Auf Phasen des entfesselten Teambasketballs und unnachgiebiger Defensive folgten wiederum Phasen der Unkonzentriertheit und vermeidbarer Fehler, die es dem Gegner ermöglichten den Spielstand ausgeglichen zu halten.</p>
				<p>Im Vergleich zur Hinrunde wirkte die Mannschaft jedoch in der Rückrunde sehr viel konzentrierter und fokussierter in den Endphasen der Spiele.</p>
				<p>Auch in schwierigen Spielabschnitten, in welchen das Momentum bei der gegnerischen Mannschaft lag, hielt das Team zusammen und konnte enge Partien für sich entscheiden, wie gegen den Tabellenführer aus Landsberg. Dies ist auch der Arbeit der guten Arbeit von Axel zu verdanken, der uns während einiger Partien coachte.</p>

				<blockquote class="right">Dankbar sind wir auch für die lautstarke Unterstützung durch die Zuschauer im Laufe der Saison. Vor allem in den Heimspielen war die Stimmung herausragend und für die komplette Mannschaft sehr motivierend. Wir hoffen auf eine derartige Atmosphäre auch in der nächsten Saison.</blockquote>

				<p>Wir wünschen allen Spielern und Spielereltern einen guten Start in die neue Saison und weiterhin viel Freude am Basketball.</p>

				<p>Der Basketballspieler der Herren 1</p>
				<p>Basti F.</p>

				<p>Link zu den <a href="#event-calender-man-1">Trainingszeiten</a></p>

			</div>
		</div>

		<aside class="col-1-4 right last">

			<div class="widget">
				<h3 class="widget-title">Neueste Artikeln</h3>
				<ul class="list-1 widget-list">
					<li><a href="#artikel-jetzt-erst-recht">Jetzt erst recht!</a></li>
					<li><a href="#about-man-1">Saisonzusammenfassung<br>Herren 1</a></li>
					<!--<li><a href="post.html">Pre season camp success</a></li>-->
					<!--<li><a href="post.html">Road to the grand finals</a></li>-->
				</ul>
			</div>
		</aside>
	</div>
</div>
