<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


	<div class="wrapper blog-roll ad-pad clearfix">

		<!-- Start Main Column  -->
		<div class="col-3-4">

			<div class="clearfix post">


				<h1 class="title">Die Mannschaft U16-Kreisklasse schließt die Saison erfolgreich ab</h1>

				<div class="mosaic-block circle">
					<a href="assets/img/u16-mix/die_mannschaft_u16.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Insert Title"></a>
					<div class="mosaic-backdrop">
						<img src="assets/img/u16-mix/die_mannschaft_u16.jpg" alt="Mock" />
					</div>
				</div>


				<p>Die Mannschaft U16-Kreisklasse vor dem Spiel in Vierkirchen</p>

				<p class="lead">Die Mannschaft der U16-KK ist in der Saison 2015/2016 in der Kreisklasse angetreten und konnte sich mit einem dritten Platz dort sehr gut behaupten. Bei der Anzahl erzielter Feldkörbe haben wir sogar den zweiten Platz in der Tabelle erreicht.</p>

				<p>Die Ergebnisse im Detail: In der Liste der TOP–Scorer konnten sich insgesamt 15 unserer Spieler eintragen und davon drei Spieler im ersten Viertel der Liste (insgesamt sind 87 Spieler gelistet).</p>
				<p>In der Liste der besten Freiwerfer könnten sich 12 Spieler platzieren und davon vier Spieler im ersten Viertel der Liste (insgesamt sind 71 Spieler gelistet). In der Liste der Dreier-Schützen sind zwei Spieler vertreten und davon ein Spieler im ersten Viertel der Liste (insgesamt sind 20 Spieler gelistet).</p>
				<p>Die Ergebnisse zeigen eine geschlossene Mannschaftsleistung und damit auch, dass sich alle Spieler auch in verschiedenen Zusammensetzungen der Mannschaft sich sehr gut integriert haben. Mehrere Spieler der Mannschaft U16-Kreisklasse haben zusätzlich in der Mannschaft U16-Bezirksliga ausgeholfen. Herzlichen Glückwunsch auch an die U16-Bezirksliga zum zweiten Platz in der Tabelle.</p>

				<p>Auch Spieler der U14 haben bei Spielen der U16-Kreisklasse ausgeholfen und uns tatkräftig unterstützt. Vielen Dank dafür.</p>
				<p>Durch das gegenseitige Aushelfen konnten wir mit den beiden U16 Mannschaften alle Spieltermine wahrnehmen, dadurch viele Einsatzmöglichkeiten für die Spieler im Spielbetrieb realisieren und eine gute Platzierungen in dem jeweiligen Tabellen erreichen. Für das tolle Engagement im Training und im Spiel sowie die Bereitschaft aller Spieler, sich in die verschiedene Mannschaftskonstellationen einzufügen, bedanken wir uns recht herzlich.</p>
				<p>Vielen Dank auch für die Eltern, die uns bei Auswärtsspielen mit Fahrtdiensten tatkräftig unterstützt haben.</p>

				<blockquote class="right">Die Saison hat uns sehr viel Spaß gemacht mit Euch und wir freuen uns schon auf die nächste Saison mit der „neuen“ U16. Anfang Mai werden die Mannschaften aufgrund des Jahrgangswechsels für die nächste Saison neu zusammengestellt.</blockquote>

				<p>Wir wünschen allen Spielern und Spielereltern einen guten Start in die neue Saison und weiterhin viel Freude am Basketball.</p>
				<p>Die Trainer der U16-Kreisklasse</p>
				<p>Christian und Pau</p>

				<p>Link zu den <a href="#event-calender-u16">Trainingszeiten</a></p>

			</div>
		</div>
	</div>
</div>
