
<!-- Start Outter Wrapper -->
<div class="outter-wrapper">
	<iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJQ_qBHgnZnUcRQopDLFtdhPA&key=AIzaSyAeOf7NGmC3ydivXtFu4qEcdw2C0BeT1hE" width="600" height="550" frameborder="0" style="border:0"></iframe>
</div>
<!-- End Outter Wrapper -->


<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">
	<div class="wrapper ad-pad clearfix">


		<div class="col-3-4">
			<h1>Kontakte</h1>
			<!-- Time Table -->
			<table class="table-style-1 mobile-table">
				<thead>
				<tr>
					<th>Position</th>
					<th>Name</th>
					<th>Telephone / Email</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>Website Administrator</td>
					<td>Odyssefs Aristeidou</td>
					<td>+49 173 27 41 507<em class="fa fa-info-circle tooltip" title="+49 173 27 41 507"></em></td>
				</tr>
				<tr>
					<td>Abteilungsleiter</td>
					<td>Claudia Reichel</td>
					<td>basketball.forstenried@gmx.de<em class="fa fa-info-circle tooltip" title="basketball.forstenried@gmx.de"></em></td>
				</tr>
				<tr>
					<td>Sportwart / Spielbetrieb</td>
					<td>Steffen Krieg</td>
				</tr>
				<tr>
					<td>Jugendwart</td>
					<td>Conny Becker</td>
				</tr>
				<tr>
					<td>Schiedsrichterwart</td>
					<td>Tobias Gerb</td>
				</tr>
				<tr>
					<td>Pressewart</td>
					<td>Jonny Schmidt</td>
				</tr>
				<tr>
					<td>Gerätewart</td>
					<td>Alex Winkelhofer</td>
				</tr>
				<tr>
					<td>Stellvertretende Abteilungsleiterin</td>
					<td>Philippe Bouquet</td>
				</tr>
				<tr>
					<td>Herren 1 Trainers</td>
					<td>Philip und Flo </td>
					<td>herren1.forstenried@googlemail.com<em class="fa fa-info-circle tooltip" title="herren1.forstenried@googlemail.com"></em></td>
				</tr>

				</tbody>
			</table>

			<!-- Finish Main Content -->
		</div>




		<!-- Start Main Sidebar  -->
		<aside class="col-1-4 last">
			<div class="widget">
			<h3>Sozialen Medien</h3>
			<ul class="widget-list list-1">
				<li><a target="_blank" href="https://www.facebook.com/profile.php?id=100013717566091">facebook.com/sport</a></li>
				<li><a target="_blank" href="https://plus.google.com/114540857244310091149">google.plus.com/sport</a></li>
			</ul>
			</div>
		</aside>

		<aside class="col-1-4 right last">
			<div class="widget">
				<h3 class="widget-title">Neueste Artikeln</h3>
				<ul class="list-1 widget-list">
					<li><a href="#artikel-jetzt-erst-recht">Jetzt erst recht!</a></li>
					<li><a href="#about-man-1">Saisonzusammenfassung<br>Herren 1</a></li>
					<!--<li><a href="post.html">Pre season camp success</a></li>-->
					<!--<li><a href="post.html">Road to the grand finals</a></li>-->
				</ul>
			</div>
		</aside>

		<!-- Finish Sidebar -->


	</div>
</div>
