<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">
	<div class="wrapper ad-pad clearfix">

		<div class="main-content col-3-4">
			<h1>Frequent Questions</h1>

			<!--<p class="lead">Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>-->



			<ul class="toggle">
				<!-- Toggle -->
				<li>
				  <a ng-href='#' class='toggle-btn'>Wie kann ich Mitglied werden? <span>98%</span></a>
				  <div class='toggle-content'>
					<p><a ng-href='#mitglied-werden'>Mitglied werden</a></p>
				  </div>
				</li>
				<!-- Toggle -->
				<li>
				  <a href='#' class='toggle-btn active'>Wie kann ich meine Mitgliedschaft kündigen? <span>95%</span></a>
				  <div class='toggle-content active'>
					  <p>Leider kommt es auch vor, dass uns Mitglieder verlassen wollen. In diesem Falle richten Sie bitte ihre schriftliche Kündigung, gerne auch per Mail, an unserer Mitgliederverwalterin ... Die Kontaktdaten finden Sie unter "Kontakte -> Vorstand".</p>

						<p>Kündigen können Sie Ihre Mitgliedschaft jeweils zum 30.06. und zum 31.12. eines laufenden Jahres mit einer Frist von 6 Wochen.</p>

				  </div>
				</li>
				<!-- Toggle -->
				<li>
				  <a href='#' class='toggle-btn'>Was kostet mich die Mitgliedschaft? <span>90%</span></a>
				  <div class='toggle-content'>
					<p>Es kommt drauf, welche Art von Mitgliedschaft sie anstreben: Es wird zwischen aktiven und passiven Mitgliedschaften unterschieden, des weiteren ist es vom Alter abhängig, auch für Familien gibt es gesonderte Angebote. Bitte schauen Sie auf unserer Seite "Mitgliedschaft" die verschiedenen Optionen an und falls Sie noch Fragen haben sollten, wenden Sie sich bitte an die Mitgliederverwalterin Christina Meier-Dörnberg.</p>
					<p>Dort finden Sie auch eine Beispiel-Rechnung für Familien sowie die Eintrittsformulare.</p>

				  </div>
				</li>
				<!-- Toggle -->
				<li>
				  <a href='#' class='toggle-btn'>Änderung von Adress- und/oder Kontoinformationen.<span>90%</span></a>
				  <div class='toggle-content'>
					<p>Wenn sich Ihre Adress- oder Kontoinformationen geändert haben, teilen Sie und die Änderungen bitte mit. Wir haben dafür auf der Seite "Mitgliedschaft" ein Kontaktformular eingerichtet, mit dem sie Ihre Änderungen direkt unser Mitgliederverwalterin mitteilen können.</p>

				  </div>
				</li>
				<!-- Toggle -->
				<li>
				  <a href='#' class='toggle-btn'>Wie sind die Zahlungsmodalitäten? <span>90%</span></a>
				  <div class='toggle-content'>
					<p>Die monatlichen Mitgliedsbeiträge werden im Normalfall halbjährlich (01.01. und 01.07.) oder jährlich im Einzugsverfahren im Voraus erhoben.</p>
					<p>In Ausnahmefällen ist auf besonderen Antrag auch eine vierteljährliche Zahlungsweise möglich. Bitte wenden Sie sich für Fragen an unsere Mitgliederverwalterin, auf der Seite "Mitgliedschaft" ist ein Kontaktformular eingerichtet, mit dem Sie direkt Kontakt aufnehmen können.</p>
				  </div>
				</li>
				<!-- Toggle -->
				<li>
				  <a href='#' class='toggle-btn'>Wie kann ich bei einer Mannschaft mitmachen? <span>90%</span></a>
				  <div class='toggle-content'>
					<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

					<div class="box-content rate-box clearfix">
						<p><strong>How useful was this in answering your question?</strong></p>
						<div class="clearfix">
							<div class="star-rating">
							<span>s</span><span>s</span><span>s</span><span>s</span><span>s</span>
							</div>
							<a href="contact.html" class="btn xsmall-btn right">Give Feedback</a>
						</div>
					</div>


				  </div>
				</li>
			  </ul>





			<!-- Finish Main Content -->
		</div>


		<!-- Start Main Sidebar  -->
		<aside class="col-1-4 last">
			<div class="widget">
				<h3 class="widget-title">Latest Posts</h3>
				<ul class="widget-list  list-1">
					<li><a href="post.html">Nominated club of the year</a></li>
					<li><a href="post.html">Pre season camp success</a></li>
					<li><a href="post.html">Road to the grand finals</a></li>
				</ul>
			</div>
		</aside>
		<!-- Finish Sidebar -->


	</div>
</div>

<!-- Start Outter Wrapper -->
<div class="outter-wrapper breadcrumb-wrapper">
	<div class="wrapper">
		<a href="#homepage" class="fa">&#xf015;</a> <a href="#homepage">Home</a> <a href="#">Frequent Questions</a>
	</div>
</div>
