
<!-- Revolution Slider -->
<div class="tp-banner-container">
    <div class="tp-banner" >
        <ul>

            <!-- SLIDE  -->
            <li data-transition="fade" data-masterspeed="500" >
                <!-- MAIN IMAGE -->
                <img src="assets/img/homepage/basketball-wallpapers-cool-colorful1.jpg" alt="Slider Image 1" data-bgposition="right center">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-heading"
                     data-x="0" data-hoffset="0"
                     data-y="115" data-voffset="0"
                     data-captionhidden="off"
                     data-speed="800"
                     data-start="500"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    One spirit, one team,<br/>
                    One win <div>- TSV Forstenried Basketball</div>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-text"
                     data-x="0" data-hoffset="0"
                     data-y="240" data-voffset="0"
                     data-captionhidden="off"
                     data-speed="800"
                     data-start="750"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    Selbstverständlich bieten wir auch ein umfangreiches Sportangebot für Kinder und Jugendliche an.<br>
                    Kommen Sie einfach mal vorbei und informieren Sie sich vor Ort.<br>
                    Im Internet finden Sie alle wichtigen, aktuellen Termine und Veranstaltungen
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption fadeout sfr tp-resizeme"
                     data-x="0" data-hoffset="0"
                     data-y="360" data-voffset="0"
                     data-speed="800"
                     data-start="1000"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    <a class="btn" href="pricing1.html">Join Our Club Today</a>&nbsp; <a class="btn-2" href="about.html">Read More</a>
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-transition="fade" data-masterspeed="500" >
                <!-- MAIN IMAGE -->
                <img src="assets/img/homepage/cool-basketball-backgrounds.jpg" alt="Slider Image 1" data-bgposition="right center" >
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-heading"
                     data-x="0" data-hoffset="0"
                     data-y="115" data-voffset="0"
                     data-captionhidden="off"
                     data-speed="800"
                     data-start="500"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    Our Blood, Our Sweat,<br/>
                    Your Tears <div>- CLUB MOTTO</div>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-text"
                     data-x="0" data-hoffset="0"
                     data-y="240" data-voffset="0"
                     data-captionhidden="off"
                     data-speed="800"
                     data-start="750"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    Cum sociis natoque penatibus et magnis dis parturient montes,<br/>
                    nascetur ridiculus mus. Maecenas sed diam eget risus varius<br/>
                    blandit sit amet non magna...
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption fadeout sfr tp-resizeme"
                     data-x="0" data-hoffset="0"
                     data-y="360" data-voffset="0"
                     data-speed="800"
                     data-start="1000"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    <a class="btn" href="pricing1.html">Join Our Club Today</a>&nbsp; <a class="btn-2" href="about.html">Read More</a>
                </div>
            </li>

        </ul>
    </div>
</div>



<!-- Start Outter Wrapper -->
<div class="outter-wrapper">
    <div class="wrapper ad-pad clearfix">
        <div class="col-1-2 clearfix">
            <h2>Coming Events</h2>


            <div class="mosaic-block circle col-1-3">
                <a href="post.html" class="mosaic-overlay fancybox link" title="Insert Your Title"></a><div class="mosaic-backdrop">
                <div class="corner date">26 Aug</div><img src="assets/img/fill-9.jpg" alt="Mock" /></div>
            </div>

            <h6 class="title"><a href="event.html">Sydney VS Our Team - Away Game</a></h6>
            <p>Morbi leo risus, porta ac conse ctetur ac, vestibulum at erosite. Aenean lacinia bibendum nulsed consectetur
                &#8230;<a href="event.html" class="read-more">More</a></p>


            <hr/>


            <div class="mosaic-block circle col-1-3">
                <a href="post.html" class="mosaic-overlay fancybox link" title="Insert Your Title"></a><div class="mosaic-backdrop">
                <div class="corner date">26 Aug</div><img src="assets/img/fill-6.jpg" alt="Mock" /></div>
            </div>

            <h6 class="title"><a href="event.html">Melbourne VS Our Team</a></h6>
            <p>Morbi leo risus, porta ac conse ctetur ac, vestibulum at erosite. Aenean lacinia bibendum nulsed consectetur
                &#8230;<a href="event.html" class="read-more">More</a></p>


        </div>

        <div class="col-1-2 last">
            <h2>NBA Highlights</h2>
            <video loop controls style="width: 100%; height: 100%" poster="assets/img/nba-miami-heat-ray-allen-PI.jpg">
                <!--<source src="img/media/Sprinkle.webm"  type='video/webm;codecs="vp8, vorbis"' />-->
                <source src="assets/img/media/Ray%20Allen's%20AMAZING%20game-tying%203-pointer%20in%20Game%206!.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                <!--&lt;!&ndash;<source src="img/media/Sprinkle.ogv" type='video/ogg; codecs="theora, vorbis"'>&ndash;&gt;-->
            </video>
        </div>
    </div>
</div>





<!-- Start Outter Wrapper -->
<div class="outter-wrapper divider"></div>


<!-- Start Outter Wrapper -->
<div class="outter-wrapper centered paralax-block" style="background-image: url(/tsv-forstenried/app/assets/img/parallax-bg.jpg);" data-stellar-background-ratio="0.75">
    <div class="wrapper clearfix">
        <h3>Counting down to the season finals</h3>
        <div class="countdown styled big-count"></div>
    </div>
</div>





<!-- Start Outter Wrapper -->
<div class="outter-wrapper feat-block-1">
    <div class="wrapper ad-pad clearfix">

        <h3>Featured Club News</h3>
        <!-- Start Carousel -->
        <div class="owl-carousel-container">
            <div id="carousel-1" class="owl-carousel">

                <!-- Carousel Item -->
                <div class="item">
                    <div class="mosaic-block circle">
                        <a href="post.html" class="mosaic-overlay fancybox link" title="Insert Your Title"></a><div class="mosaic-backdrop">
                        <div class="corner date">16 Aug</div><img src="assets/img/fill-4.jpg" alt="Mock" /></div>
                    </div>

                    <h6 class="title"><a href="post.html">Pre season camp success</a></h6>
                    <p>Morbi leo risus, porta ac conse ctetur ac, vestiosite Duis mollis, est non commodo luctus, nisi erat porttitor ligula soren
                        &#8230;<a href="post.html" class="read-more">More</a></p>
                </div>

                <!-- Carousel Item -->
                <div class="item">
                    <div class="mosaic-block circle">
                        <a href="post.html" class="mosaic-overlay fancybox link" title="Insert Your Title"></a><div class="mosaic-backdrop">
                        <div class="corner date">26 Aug</div><img src="assets/img/fill-3.jpg" alt="Mock" /></div>
                    </div>

                    <h6 class="title"><a href="post.html">Nominated club of the year</a></h6>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula. Maecenas sed diam eget risus varius blandit sit amet non
                        &#8230;<a href="post.html" class="read-more">More</a></p>
                </div>

                <!-- Carousel Item -->
                <div class="item">
                    <div class="mosaic-block circle">
                        <a href="post.html" class="mosaic-overlay fancybox link" title="Insert Your Title"></a><div class="mosaic-backdrop">
                        <div class="corner date">17 Sept</div><img src="assets/img/fill-5.jpg" alt="Mock" /></div>
                    </div>

                    <h6 class="title"><a href="post.html">Road to the grand finals</a></h6>
                    <p>Vestiosite Duis mollis, est non commodo luctus, nisi erat porttitor sed diam eget risus varius blandit sit amet non magna
                        &#8230;<a href="post.html" class="read-more">More</a></p>
                </div>

                <!-- Carousel Item -->
                <div class="item">
                    <div class="mosaic-block circle">
                        <a href="post.html" class="mosaic-overlay fancybox link" title="Insert Your Title"></a><div class="mosaic-backdrop">
                        <div class="corner date">24 Sept</div><img src="assets/img/fill-2.jpg" alt="Mock" /></div>
                    </div>

                    <h6 class="title"><a href="post.html">Club facilities upgrade</a></h6>
                    <p>Mollis, est non commodo luctus, nisi erat porttitor ligula. Maecenas sed diam eget risus varius blandit sit amet non
                        &#8230;<a href="post.html" class="read-more">More</a></p>
                </div>

                <!-- Carousel Item -->
                <div class="item">
                    <div class="mosaic-block circle">
                        <a href="post.html" class="mosaic-overlay fancybox link" title="Insert Your Title"></a><div class="mosaic-backdrop">
                        <div class="corner date">26 Aug</div><img src="assets/img/fill-11.jpg" alt="Mock" /></div>
                    </div>

                    <h6 class="title"><a href="post.html">Pre game rundowns</a></h6>
                    <p>Porta ac conse ctetur ac, vestiosite Duis mollis, est non commodo luctus, nisi erat porttitor ligula maecenas sed diam
                        &#8230;<a href="post.html" class="read-more">More</a></p>
                </div>

                <!-- Carousel Item -->
                <div class="item">
                    <div class="mosaic-block circle">
                        <a href="post.html" class="mosaic-overlay fancybox link" title="Insert Your Title"></a><div class="mosaic-backdrop">
                        <div class="corner date">26 Aug</div><img src="assets/img/fill-8.jpg" alt="Mock" /></div>
                    </div>

                    <h6 class="title"><a href="post.html">Divisions and Coaching</a></h6>
                    <p>Conse ctetur ac, vestiosite Duis mollis, est non commodo luctus, nisi erat porttitor ligula. Maecenas sed diam eget dolen
                        &#8230;<a href="post.html" class="read-more">More</a></p>
                </div>

            </div>
        </div>
    </div>

</div>

    	
