
<!-- Revolution Slider -->
<div class="tp-banner-container">
    <div class="tp-banner" >
        <ul>

            <!-- SLIDE  -->
            <li data-transition="fade" data-masterspeed="500" >
                <!-- MAIN IMAGE -->
                <img src="assets/img/general/photo-basketball-070315.jpg" alt="Slider Image 1" data-bgposition="right center">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-heading"
                     data-x="0" data-hoffset="0"
                     data-y="115" data-voffset="0"
                     data-captionhidden="off"
                     data-speed="800"
                     data-start="500"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    Saisonauftakt Herren 1<br>
                    <div>TSV Forstenried Basketball - Herren 1</div>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-text"
                     data-x="0" data-hoffset="0"
                     data-y="240" data-voffset="0"
                     data-captionhidden="off"
                     data-speed="800"
                     data-start="750"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    Nach der Niederlage zu Beginn der Spielzeit 16/17,<br>
                    gelang es der Herren1 Mannschaft die folgenden drei Partien für sich zu entscheiden.
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption fadeout sfr tp-resizeme"
                     data-x="0" data-hoffset="0"
                     data-y="360" data-voffset="0"
                     data-speed="800"
                     data-start="1000"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    <a class="btn-2" href="#saisonauftakt-herren-1">Mehr lesen</a>
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-transition="fade" data-masterspeed="500" >
                <!-- MAIN IMAGE -->
                <img src="assets/img/general/c700x420.jpg" alt="Slider Image 1" data-bgposition="right center">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-heading"
                     data-x="0" data-hoffset="0"
                     data-y="115" data-voffset="0"
                     data-captionhidden="off"
                     data-speed="800"
                     data-start="500"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    TSV Forstenried – TSV Wasserburg 66:58<br>
                    <div>TSV Forstenried Basketball - U18</div>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-text"
                     data-x="0" data-hoffset="0"
                     data-y="240" data-voffset="0"
                     data-captionhidden="off"
                     data-speed="800"
                     data-start="750"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    An dem Wochenende kam ein alter Bekannter zu Besuch.<br>
                    Bei der Qualifikation zur Bezirksliga haben wir noch gegen Wasserburg mit vier Punkten verloren.
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption fadeout sfr tp-resizeme"
                     data-x="0" data-hoffset="0"
                     data-y="360" data-voffset="0"
                     data-speed="800"
                     data-start="1000"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    <a class="btn-2" href="#tsv-forstenried–tsv-wasserburg">Mehr lesen</a>
                </div>
            </li>


            <!-- SLIDE  -->
            <li data-transition="fade" data-masterspeed="500" >
                <!-- MAIN IMAGE -->
                <img src="assets/img/general/basketball-cover-2.jpg" alt="Slider Image 1" data-bgposition="right center">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-heading"
                     data-x="0" data-hoffset="0"
                     data-y="115" data-voffset="0"
                     data-captionhidden="off"
                     data-speed="800"
                     data-start="500"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    TSV Jahn-Freising gegen TSV Forstenried 79:67<br>
                    <div>TSV Forstenried Basketball - U18</div>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-text"
                     data-x="0" data-hoffset="0"
                     data-y="240" data-voffset="0"
                     data-captionhidden="off"
                     data-speed="800"
                     data-start="750"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    Unser drittes Spiel der Saison war gegen Jahn Freising.<br>
                    Das erste Spiel für das wir länger fahren mussten.
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption fadeout sfr tp-resizeme"
                     data-x="0" data-hoffset="0"
                     data-y="360" data-voffset="0"
                     data-speed="800"
                     data-start="1000"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    <a class="btn-2" href="#tsv-jahn-freising-tsv-forstenried">Mehr lesen</a>
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-transition="fade" data-masterspeed="500" >
                <!-- MAIN IMAGE -->
                <img src="assets/img/general/pickup-basketball.jpg" alt="Slider Image 1" data-bgposition="right center">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-heading"
                     data-x="0" data-hoffset="0"
                     data-y="115" data-voffset="0"
                     data-captionhidden="off"
                     data-speed="800"
                     data-start="500"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    Die Herren 1 nimmt sich hohe Ziele vor<br/>
                    <div>TSV Forstenried Basketball - Herren 1</div>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-text"
                     data-x="0" data-hoffset="0"
                     data-y="240" data-voffset="0"
                     data-captionhidden="off"
                     data-speed="800"
                     data-start="750"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    Nach der erfolgreichen Saison 2015/2016 der 1.<br/>
                    Herren des TSV-Forstenried in der Bezirksliga,<br/>
                    nimmt sich die Mannschaft höhere Ziele vor.
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption fadeout sfr tp-resizeme"
                     data-x="0" data-hoffset="0"
                     data-y="360" data-voffset="0"
                     data-speed="800"
                     data-start="1000"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    <a class="btn-2" href="#article-die-herren-1-nimmt-sich-hohe-ziele-vor">Mehr lesen</a>
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-transition="fade" data-masterspeed="500" >
                <!-- MAIN IMAGE -->
                <img src="assets/img/bild-fuer-aufruf-damenmannschaft-sucht-verstaerkung.jpg" alt="Slider Image 1" data-bgposition="right center">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-heading"
                     data-x="0" data-hoffset="0"
                     data-y="115" data-voffset="0"
                     data-captionhidden="off"
                     data-speed="800"
                     data-start="500"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    Die Damenmannschaft sucht für die kommende Saison Verstärkung<br/>
                    <div>TSV Forstenried Basketball - Damen</div>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-text"
                     data-x="0" data-hoffset="0"
                     data-y="240" data-voffset="0"
                     data-captionhidden="off"
                     data-speed="800"
                     data-start="750"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    Letzte Saison ging es darum, die durch die Verschmelzung <br>
                    der beiden Damenteams neu formierte Mannschaft zusammenbringen<br>
                    und aufeinander einzustimmen.
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption fadeout sfr tp-resizeme"
                     data-x="0" data-hoffset="0"
                     data-y="360" data-voffset="0"
                     data-speed="800"
                     data-start="1000"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut">
                    <a class="btn-2" href="#season-anfang">Mehr lesen</a>
                </div>
            </li>

        </ul>
    </div>
</div>



<!-- Start Outter Wrapper -->
<div class="outter-wrapper">
    <div class="wrapper ad-pad clearfix">
        <div class="col-1-2 clearfix">
            <h2>Neueste Nachrichten</h2>


            <div class="mosaic-block circle col-1-3">
                <a href="assets/img/homepage/basketball-wallpapers-cool-colorful1.jpg" class="mosaic-overlay fancybox link" title="Mitglied werden"></a><div class="mosaic-backdrop">
                <div class="corner date">14 Sept 2016</div><img src="assets/img/homepage/basketball-wallpapers-cool-colorful1.jpg" alt="Mock" /></div>
            </div>

            <h4 class="title"><a href="#mitglied-werden">One spirit, one team, one win</a></h4>
            <p>Selbstverständlich bieten wir auch ein umfangreiches Sportangebot
                &#8230;<a href="#mitglied-werden" class="read-more">Mehr</a></p>
            <hr/>


            <div class="mosaic-block circle col-1-3">
                <a href="assets/img/general/photo-basketball-070315.jpg" class="mosaic-overlay fancybox link" title="Saisonauftakt Herren 1"></a><div class="mosaic-backdrop">
                <div class="corner date">17 July 2016</div><img src="assets/img/general/photo-basketball-070315.jpg" alt="Mock" /></div>
            </div>

            <h4 class="title"><a href="#saisonauftakt-herren-1">Saisonauftakt Herren 1</a></h4>
            <p>Nach der Niederlage zu Beginn der Spielzeit 16/17, gelang es der Herren1 Mannschaft
                &#8230;<a href="#saisonauftakt-herren-1" class="read-more">Mehr</a></p>
            <hr/>


            <div class="mosaic-block circle col-1-3">
                <a href="assets/img/general/c700x420.jpg" class="mosaic-overlay fancybox link" title="TSV Forstenried – TSV Wasserburg"></a><div class="mosaic-backdrop">
                <div class="corner date">11 Novem 2016</div><img src="assets/img/general/c700x420.jpg" alt="Mock" /></div>
            </div>

            <h4 class="title"><a href="#tsv-forstenried–tsv-wasserburg">TSV Forstenried – TSV Wasserburg</a></h4>
            <p>An dem Wochenende kam ein alter Bekannter zu Besuch. Bei der Qualifikation zur Bezirksliga
                &#8230;<a href="#tsv-forstenried–tsv-wasserburg" class="read-more">Mehr</a></p>
            <hr/>


            <div class="mosaic-block circle col-1-3">
                <a href="assets/img/bild-fuer-aufruf-damenmannschaft-sucht-verstaerkung.jpg" class="mosaic-overlay fancybox link" title="Die Damenmannschaft sucht für die kommende Saison Verstärkung"></a><div class="mosaic-backdrop">
                <div class="corner date">21 März 2016</div><img src="assets/img/bild-fuer-aufruf-damenmannschaft-sucht-verstaerkung.jpg" alt="Mock" /></div>
            </div>

            <h6 class="title"><a href="#artikel-die-damenmannschaft-sucht-fuer-die-kommende-saison-verstaerkung">Die Damenmannschaft sucht für die kommende Saison Verstärkung</a></h6>
            <p>Basketballerinnen, die gerne am Ligabetrieb teilnehmen möchten!
                &#8230;<a href="#artikel-die-damenmannschaft-sucht-fuer-die-kommende-saison-verstaerkung" class="read-more">Mehr</a></p>


        </div>

        <div class="col-1-2 last">
            <h2>Mitglied werden Video</h2>
            <video loop controls style="width: 100%; height: 100%" poster="assets/img/homepage/cool-basketball-backgrounds.jpg">
                <!--<source src="img/media/Sprinkle.webm"  type='video/webm;codecs="vp8, vorbis"' />-->
                <source src="assets/videos/die-abteilung-basketball-stellt-sich-vor-tsv-forstenried-m.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                <!--&lt;!&ndash;<source src="img/media/Sprinkle.ogv" type='video/ogg; codecs="theora, vorbis"'>&ndash;&gt;-->
            </video>
        </div>
    </div>
</div>





<!-- Start Outter Wrapper -->
<div class="outter-wrapper divider"></div>


<!-- Start Outter Wrapper -->
<div class="outter-wrapper centered paralax-block" style="background-image: url(assets/img/parallax-bg.jpg);" data-stellar-background-ratio="0.75">
    <div class="wrapper clearfix">
        <h3>Counting down bis Herren 1 nächstes Heimspiel gegen SV Mammendorf</h3>
        <div class="countdown styled big-count"></div>
    </div>
</div>





<!-- Start Outter Wrapper -->
<div class="outter-wrapper feat-block-1">
    <div class="wrapper ad-pad clearfix">

        <h3>Weitere Nachrichten</h3>
        <!-- Start Carousel -->
        <div class="owl-carousel-container">
            <div id="carousel-1" class="owl-carousel">

                <!-- Carousel Item -->
                <div class="item">
                    <div class="mosaic-block circle">
                        <a href="assets/img/frau-1/damen-forstenried-saison-2015-16-kleinere-version-small.jpg" class="mosaic-overlay fancybox link" title="Letzte Saison ging es darum..."></a><div class="mosaic-backdrop">
                        <div class="corner date">08 September 2016</div><img src="assets/img/frau-1/damen-forstenried-saison-2015-16-kleinere-version.jpg" alt="Mock" /></div>
                    </div>

                    <h6 class="title"><a href="#season-anfang">Letzte Saison ging es darum</a></h6>
                    <p>Letzte Saison ging es darum, die durch die Verschmelzung der beiden Damenteams neu formierte
                        &#8230;<a href="#season-anfang" class="read-more">Mehr</a></p>
                </div>


                <!-- Carousel Item -->
                <div class="item">
                    <div class="mosaic-block circle">
                        <a href="assets/img/general/basketball-cover-2.jpg" class="mosaic-overlay fancybox link" title="TSV Unterhaching: TSV Forstenried 56:79"></a><div class="mosaic-backdrop">
                        <div class="corner date">22 Oktober 2016</div><img src="assets/img/general/basketball-cover-2.jpg" alt="Mock" /></div>
                    </div>

                    <h6 class="title"><a href="#tsv-jahn-freising-tsv-forstenried">TSV Unterhaching: TSV Forstenried 56:79</a></h6>
                    <p>Die doch deutliche Niederlage am ersten Spieltag
                        &#8230;<a href="#tsv-jahn-freising-tsv-forstenried" class="read-more">Mehr</a></p>
                </div>

                <!-- Carousel Item -->
                <div class="item">
                    <div class="mosaic-block circle">
                        <a href="assets/img/u18-mix/dsc-0256-small.jpg" class="mosaic-overlay fancybox link" title="TSV Jahn-Freising: TSV Forstenried 79:67"></a><div class="mosaic-backdrop">
                        <div class="corner date">15 Oktober 2016</div><img src="assets/img/u18-mix/dsc-0256.jpg" alt="Mock" /></div>
                    </div>

                    <h6 class="title"><a href="#tsv-jahn-freising-tsv-forstenried">TSV Jahn-Freising: TSV Forstenried 79:67</a></h6>
                    <p>Unser drittes Spiel der Saison war
                        &#8230;<a href="#tsv-jahn-freising-tsv-forstenried" class="read-more">Mehr</a></p>
                </div>


                <!-- Carousel Item -->
                <div class="item">
                    <div class="mosaic-block circle">
                        <a href="assets/img/u18-mix/dsc-0256.jpg" class="mosaic-overlay fancybox link" title="Großartige Fights, wenn auch glücklos"></a><div class="mosaic-backdrop">
                        <div class="corner date">07 July 2016</div><img src="assets/img/u18-mix/dsc-0256-small.jpg" alt="Mock" /></div>
                    </div>

                    <h6 class="title"><a href="#about-u18">Großartige Fights, wenn auch glücklos.</a></h6>
                    <p>Am 2.7.16 ist die U18 vom TSV Forstenried zum Qualifikationsturnier für die Bezirksliga nach Wasserburg gefahren
                        &#8230;<a href="#about-u18" class="read-more">Mehr</a></p>
                </div>

                <!-- Carousel Item -->
                <div class="item">
                    <div class="mosaic-block circle">
                        <a href="assets/img/herren-4/trainingsspiel maenner 4_ue 40 2.jpg" class="mosaic-overlay fancybox link" title="Damen Ü 40 fordern Männer 4 beim Trainingsmatch"></a><div class="mosaic-backdrop">
                        <div class="corner date">17 July</div><img src="assets/img/herren-4/trainingsspiel maenner 4_ue 40 2-small.jpg" alt="Mock" /></div>
                    </div>

                    <h6 class="title"><a href="#about-man-4">Damen Ü 40 fordern Männer 4 beim Trainingsmatch</a></h6>
                    <p>Nach über einem Jahr Vorbereitung - wir fanden einfach keinen früheren Termin - trafen am 21. März 2016 unsere Damen Ü 40 und die Mannschaft Männer 4
                        &#8230;<a href="#about-man-4" class="read-more">Mehr</a></p>
                </div>

                <!-- Carousel Item -->
                <div class="item">
                    <div class="mosaic-block circle">
                        <a href="assets/img/u18-mix/qualifikationsturnier-traunstein-teamfoto.png" class="mosaic-overlay fancybox link" title="Jetzt erst recht!"></a><div class="mosaic-backdrop">
                        <div class="corner date">14 July 2016</div><img src="assets/img/u18-mix/qualifikationsturnier-traunstein-teamfoto-small.png" alt="Mock" /></div>
                    </div>

                    <h6 class="title"><a href="#artikel-jetzt-erst-recht">Jetzt erst recht!</a></h6>
                    <p>Nach der schmerzhaften Niederlage am Wochenende zuvor fuhr die U18 des TSV Forstenrieds am 10.07.16 zu einem weiteren Qualifikationsturnier nach Traunstein
                        &#8230;<a href="#artikel-jetzt-erst-recht" class="read-more">Mehr</a></p>
                </div>

                <!-- Carousel Item -->
                <div class="item">
                    <div class="mosaic-block circle">
                        <a href="assets/img/u16-mix/die_mannschaft_u16.jpg" class="mosaic-overlay fancybox link" title="Die Mannschaft U16-Kreisklasse schließt die Saison erfolgreich ab"></a><div class="mosaic-backdrop">
                        <div class="corner date">27 July 2016</div><img src="assets/img/u16-mix/die_mannschaft_u16-small.jpg" alt="Mock" /></div>
                    </div>

                    <h6 class="title"><a href="#about-u16">Die Mannschaft U16-Kreisklasse schließt die Saison erfolgreich ab</a></h6>
                    <p>Die Mannschaft der U16-KK ist in der Saison 2015/2016 in der Kreisklasse angetreten und
                        &#8230;<a href="#about-u16" class="read-more">Mehr</a></p>
                </div>

                <!-- Carousel Item -->
                <div class="item">
                    <div class="mosaic-block circle">
                        <a href="assets/img/u12-mix/p1020407.jpg" class="mosaic-overlay fancybox link" title="TSV Forstenried Tag der offenen Tür (18.6.) ..."></a><div class="mosaic-backdrop">
                        <div class="corner date">15 Juny 2016</div><img src="assets/img/u12-mix/p1020407-small.jpg" alt="Mock" /></div>
                    </div>

                    <h6 class="title"><a href="#tsv-forstenried-tag-der-offenen-tuer-18-6">TSV Forstenried Tag der offenen Tür (18.6.) ...</a></h6>
                    <p>Zunächst sah es so aus als ob der Wettergott kein Basketball (und andere Sportarten) in Aktion sehen wollte.
                        &#8230;<a href="#tsv-forstenried-tag-der-offenen-tuer-18-6" class="read-more">Mehr</a></p>
                </div>
            </div>
        </div>
    </div>

</div>

    	
