<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">Weihnachtsfeier im Intermezzo</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/general/christmas-event-small.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Weihnachtsfeier im Intermezzo"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/general/christmas-event.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Mit französischem Wein stießen bei einer stimmungsvollen Weihnachtsfeier der Abteilung Basketball an: Claudia Reichel, stellvertretende Abteilungsleiterin undPhilippe Bouquet, Haupt-Organisator des Abends und Spieler bei unserer Mannschaft Herren 1.</p>

                <div class="col-2-5 right pad-left">
                    <img class="" src="assets/img/general/christmas-event-photo-1.JPG" alt="Mock" />
                </div>

                <p class="lead">Etwa 40 aktive Spieler, Betreuer und Trainer aus Jugend und Seniorenmannschaften kamen am 9. Dezember ins Intermezzo gleich neben der Geschäftsstelle des TSV. </p>

                <div class="col-2-5 left last pad-right">
                    <img class="" src="assets/img/general/christmas-event-photo-21.JPG" alt="Mock" />
                </div>

                <br><br><br><br><br><br><br><br><br><br><br><br>

                <p>Der städtische Jugendtreff stellte den Basketballern sein weihnachtlich dekoriertes Café zur Verfügung, ein tolles Büffet und Getränke organisierten die einzelnen Mannschaften selbst. Es war ein  gelungenes Beispiel für eine kulinarisch vielfältige Zusammenarbeit, die auch zeigte, wie völlig unterschiedlich man Nudelsalate zubereiten kann.</p>

                <div class="col-2-5 left last pad-right">
                    <img class="" src="assets/img/general/christmas-event-photo-3.JPG" alt="Mock" />
                </div>

                <br><br><br><br><br><br><br><br><br><br><br><br>

                <blockquote class="right">Neben dem Fachsimpeln über neueste Entwicklungen in der amerikanischen NBA und der Basketball-Bundesliga kam auch der persönliche Austausch an dem gemütlich-adventlichen Abend nicht zu kurz.</blockquote>



                <p>Und wie sagte Philippe danach über die Organisation: „ Es hat tatsächlich echt Spaß gemacht. Gerne wieder!“</p>

                <p>Viele Grüße</p>
                <p>Stefan Riefler</p>

            </div>
        </div>

        <aside class="col-1-4 right last">
            <div class="widget">
                <h3 class="widget-title">Neueste Artikeln</h3>
                <ul class="list-1 widget-list">
                    <li><a href="#bezirksliga–geht-noch-mehr">Bezirksliga – geht noch mehr?</a></li>
                    <li><a href="#u16-hat-dritten-platz-erarbeitet">U16 hat den dritten Platz in der Tabelle erarbeitet</a></li>
                    <li><a href="#muenchen-basket-tsv-forstenried">München Basket-TSV Forstenried - U18</a></li>
                    <li><a href="#ts-jahn-muenchen-2-tsv-forstenried">TS Jahn München 2 - TSV Forstenried - U18</a></li>
                    <li><a href="#article-die-herren-1-nimmt-sich-hohe-ziele-vor">Die Herren 1 nimmt sich hohe Ziele vor</a></li>
                    <li><a href="#artikel-die-damenmannschaft-sucht-fuer-die-kommende-saison-verstaerkung">Die Damenmannschaft sucht für die kommende Saison Verstärkung</a></li>
                </ul>
            </div>
        </aside>

    </div>

</div>

