<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">

    <div class="wrapper ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-1-1">

            <!-- Start Gallery Section -->
            <div class="clearfix">
                <div class="col-1-4">
                    <h3>Isotope Gallery</h3>

                    <ul class="list-4 widget-list option-set" >
                        <li><a href="#galleries">Show All Images</a></li>
                        <li><a href="#gallery-herren-1">Herren 1</a></li>
                        <li><a href="#gallery-herren-2">Herren 2</a></li>
                        <li><a href="#gallery-herren-3">Herren 3</a></li>
                        <li><a href="#gallery-herren-4">Männer 4</a></li>
                        <li><a href="#gallery-damen-1">Damen 1</a></li>
                        <li><a href="#gallery-u18">U18</a></li>
                        <li><a href="#gallery-u16">U16</a></li>
                        <li><a href="#gallery-u14-mix">U14</a></li>
                        <li><a href="#gallery-u12-mix">U12</a></li>
                        <li><a href="#gallery-u10-mix">U10</a></li>
                    </ul>

                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum
                    </p>
                </div>



                <!-- Start Isotope -->
                <div class="col-3-4 last thumb-gallery super-list variable-sizes clearfix" id="thumb-gallery">
                    <!-- Start Herren 3 Photos-->
                    <div class="col-1-3 element cat-men-3">
                        <div class="mosaic-block circle"><a href="/tsv-forstenried/app/assets/img/herren-3/2013_u18%20quali%20bzl.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Insert Title"></a>
                            <div class="mosaic-backdrop"><img src="/tsv-forstenried/app/assets/img/herren-3/2013_u18%20quali%20bzl-small.jpg" alt="Mock" /></div></div>
                    </div>
                    <div class="col-1-3 element cat-men-3">
                        <div class="mosaic-block circle"><a href="/tsv-forstenried/app/assets/img/herren-3/u18_mannschaftsfoto.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Insert Title"></a>
                            <div class="mosaic-backdrop"><img src="/tsv-forstenried/app/assets/img/herren-3/u18_mannschaftsfoto-small.jpg" alt="Mock" /></div></div>
                    </div>
                    <!-- End Herren 3 Photos-->

                    <!-- End Isotope -->
                </div>

            </div>




        </div>

    </div>
</div>