<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


	<div class="wrapper blog-roll ad-pad clearfix">

		<!-- Start Main Column  -->
		<div class="col-3-4">

			<div class="clearfix post">


				<h1 class="title">Auf ein Neues</h1>

				<div class="mosaic-block circle">
					<a href="assets/img/general/new-york-playground-basketball.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Auf ein Neues"></a>
					<div class="mosaic-backdrop">
						<img src="assets/img/general/new-york-playground-basketball.jpg" alt="Mock" />
					</div>
				</div>

				<p>Die Herren 2 der Saison 2017/2018 sind ein bunter Haufen alter Haudegen und junger Heißsporne die der geilsten Sportart der Welt immer montags und freitags Tribut zollen.</p>
				<p>Nachdem wir momentan ohne festen Trainer da stehen, hat sich Toni bereit erklärt, das Training am Montag zu übernehmen und das Team das Stand heute aus mindestens 12 Spielern besteht teilt sich die übrigen Aufgaben auf. Jeder weiß, dass es nur klappt wenn wir alle zusammen den Weg beschreiten und das nächste Jahr anpacken. </p>

				<p class="lead">Wir würden uns freuen, wenn sich bald ein Trainer findet der Jung und Alt zusammenführt.</p>

				<p>Wir finden aber jetzt schon, dass dies ein guter Stern ist unter dem wir die neue Saison starten und möchten alle teaminteressierten Basketballer dazu einladen die Herren 2 zu unterstützen, sei es als Spieler, Coach oder Fan. Basketball lebt vom Teamgedanken und dem Spaß am Sport.</p>
				<p>Unsere Trainingszeiten sind
					Montag 20 Uhr bis 21:30 Uhr Halle Fürstenried West
					Freitag 19 Uhr bis 20:30 Uhr Halle Fürstenrieder Strasse Erasmus Grasser Gymnasium</p>

				<p>Unser Team:

					Bender,
					Clemens,
					Daniel (Mannschaftsverantwortlicher),
					Dardan (Teilzeit),
					Georg,
					Jonas,
					Luca,
					Martin,
					Max,
					Paul,
					Philipp,
					Radoje,
					Steffen,
					Tobi,
					Toni</p>

				<p>Viele Grüße</p>

				<p>Toni</p>

			</div>
		</div>
	</div>
</div>
