<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


	<div class="wrapper blog-roll ad-pad clearfix">

		<!-- Start Main Column  -->
		<div class="col-3-4">

			<div class="clearfix post">


				<h1 class="title">Die Herren 1 nimmt sich hohe Ziele vor</h1>

				<div class="mosaic-block circle">
					<a href="assets/img/general/pickup-basketball.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Mannschaft Photo 2016"></a>
					<div class="mosaic-backdrop">
						<img src="assets/img/general/pickup-basketball.jpg" alt="Mock" />
					</div>
				</div>

				<p>Nach der erfolgreichen Saison 2015/2016 der 1. Herren des TSV-Forstenried in der Bezirksliga, nimmt sich die Mannschaft höhere Ziele vor.</p>

				<p class="lead">Nachdem die Forstenrieder in der letzten Saison den 6. Platz erreicht haben, möchten sie nun die jetzige Saison im oberen Drittel der Tabelle abschließen.</p>

				<p>Dementsprechend fing die Vorsaison schon ziemlich früh an und die 1. Herren haben über den ganzen Sommer trainiert. Glücklicherweise sind die meisten Spieler der letzten Saison im Kader geblieben, sodass sich alle gut kennen und man die Stärken und Schwächen der Mannschaft kennt.</p>
				<p>Auch wenn immer noch kein hauptamtlicher Trainer gefunden wurde (die Mannschaft wird weiterhin von Spieler-Trainern gecoacht), arbeiteten alle Spieler konzentriert an der Vorbereitung für die jetzige Saison.</p>
				<p>Nichtsdestotrotz konnten die Forstenrieder die ersten Punkte der Saison nicht gewinnen.</p>

				<blockquote class="right">Nachdem sie die ersten drei Viertel gegen DJK SB München kontrolliert hatten und mit einem 6-Punkte Vorsprung ins 4. Viertel gegangen sind, ließ die starke Leistung sehr schnell nach und die Partie endete 68:73.</blockquote>

				<p>Die Mannschaft ist sich aber über ihre Fehler im Klaren und sieht dies als Lernprozess für die anstehenden Spiele. Jetzt heißt es: weiterarbeiten und sich auf das nächste Spiel gegen Germering konzentrieren (letztes Jahr besiegten die Forstenrieder Germering mit nur 1 Punkt Unterschied!).</p>

				<p>Die Mannschaft möchte sich auch bei den Fans vom Sonntag bedanken. Es herrschte wieder eine großartige Stimmung in der Halle!</p>

				<p>Viele Grüße</p>

				<p>Sven H.</p>

				<p>Link zu den <a href="#event-calender-man-1">Trainings- und Spieltermine</a></p>

			</div>
		</div>

		<aside class="col-1-4 right last">

			<div class="widget">
				<h3 class="widget-title">Neueste Artikeln</h3>
				<ul class="list-1 widget-list">
					<li><a href="#season-anfang">Die Damenmannschaft sucht für die kommende Saison Verstärkung</a></li>
					<li><a href="#artikel-jetzt-erst-recht">Jetzt erst recht!</a></li>
					<li><a href="#about-man-1">Saisonzusammenfassung<br>Herren 1</a></li>
					<!--<li><a href="post.html">Pre season camp success</a></li>-->
					<!--<li><a href="post.html">Road to the grand finals</a></li>-->
				</ul>
			</div>
		</aside>
	</div>
</div>
