<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


	<div class="wrapper blog-roll ad-pad clearfix">

		<!-- Start Main Column  -->
		<div class="col-3-4">

			<div class="clearfix post">


				<h1 class="title">Saisonauftakt Herren 1</h1>

				<div class="mosaic-block circle">
					<a href="assets/img/general/photo-basketball-070315.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Saisonauftakt Herren 1"></a>
					<div class="mosaic-backdrop">
						<img src="assets/img/general/photo-basketball-070315.jpg" alt="Mock" />
					</div>
				</div>

				<p>Nach der Niederlage zu Beginn der Spielzeit 16/17, gelang es der Herren1 Mannschaft die folgenden drei Partien für sich zu entscheiden.</p>

				<p class="lead">Sowohl gegen München Ost als auch gegen Prittriching, befanden sich die Herren 1 des TSV's zu keiner Zeit des Spiels im Rückstand und konnten den Vorsprung im letzten Viertel sogar mit einer starken Teamleistung in der Defense und der Unterstützung der Zuschauer noch ausbauen.</p>

				<p>Durch den defensiven Zusammenhalt ergab sich für die gegnerischen Teams nur wenige Möglichkeiten effizient zu punkten. So wurden München Ost bei 65 Punkten und Prittriching bei 55 Punkten gehalten.</p>
				<p>Auch die Offensive der Mannschaft aus Forstenried kann sich sehen lassen. Der Ball wird gut gepasst, was jedem Spieler die Möglichkeit gibt, Punkte zu erbeuten.</p>
				<p>Gelegentlich verfällt der Angriff des Teams dazu etwas zu statisch zu werden, wogegen aber in den Trainingseinheiten schon mit Hochdruck vorgegangen wird.</p>

				<blockquote class="right">Nach dem bisherigen Saisonverlauf kann die Herren 1 des TSV's eine gute Bilanz vorweisen. Mit 3 Siegen, 1 Niederlange und einer Punktedifferenz von 40, belegt die Mannschaft derzeit den 4. Platz der Bezirksliga West.</blockquote>

				<p>Die Liga ist wie bereits letztes Jahr sehr ausgeglichen, weshalb es sehr wichtig ist, dass das Team weiterhin konzentriert an seinen Schwächen arbeitet.</p>

				<p>Für die Unterstüzung durch die Zuschauer und Zuschauerinnen sind wir sehr dankbar und hoffen auf weiterhin zahlreiche und lautstarke Anfeuerung.</p>

				<p>Viele Grüße</p>

				<p>Basti F.</p>

				<p>Link zu den <a href="#event-calender-man-1">Trainings- und Spieltermine</a></p>

			</div>
		</div>

		<aside class="col-1-4 right last">

			<div class="widget">
				<h3 class="widget-title">Neueste Artikeln</h3>
				<ul class="list-1 widget-list">
					<li><a href="#season-anfang">Die Damenmannschaft sucht für die kommende Saison Verstärkung</a></li>
					<li><a href="#artikel-jetzt-erst-recht">Jetzt erst recht!</a></li>
					<li><a href="#about-man-1">Saisonzusammenfassung<br>Herren 1</a></li>
					<!--<li><a href="post.html">Pre season camp success</a></li>-->
					<!--<li><a href="post.html">Road to the grand finals</a></li>-->
				</ul>
			</div>
		</aside>
	</div>
</div>
