<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">Basketball U16 Kreisliga</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/u16-mix/die-u16-vor-dem-spiel-gegen-sv-mammendorf.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Die U16 vor dem Spiel gegen SV Mammendorf"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/u16-mix/die-u16-vor-dem-spiel-gegen-sv-mammendorf.jpg" alt="Mock" />
                    </div>
                </div>

                <p>In der neuen Saison treten die U16 Basketballer in der Kreisliga an.</p>
                <p>Die Mannschaft ist mit einer tollen Trainingsbeteiligung in die Vorbereitungsphase der Saison 2016/2017 gestartet. Damit sind wir für den Spielbetrieb gut gerüstet.</p>
                <p>Am 1. Oktober haben nun die Punktespiele begonnen und es geht gleich richtig zur Sache mit vier Spielterminen im Oktober.</p>

                <p class="lead">Nachdem das erste Spiel gegen den TSV Milbertshofen eher unglücklich verloren ging, konnte die Mannschaft das Spiel am 9. Oktober gegen Mammendorf mit 80:48 Punkten klar für sich entscheiden. Damit zeigt sich, dass die Mannschaft konkurrenzfähig ist.</p>

                <blockquote class="right">Insgesamt wird die U16 in dieser Saison bis Ende März zu 18 Spielterminen antreten. Wir sind zuversichtlich, dass sich die Mannschaft in den Top-5 platzieren kann.</blockquote>


                <p>Im weiteren Verlauf der Saison hoffen wir wieder auf die tatkräftige Unterstützung des Spielbetriebes durch Familie, Freunde und Bekannte.</p>


                <p>Die Übernahme von Fahrtdiensten bei Auswärtsspielen und die lautstarke Unterstützung in der „Fankurve“ sind hier nur zwei von vielen Möglichkeiten, die Mannschaft zu unterstützen.</p>

                <p>Jede Unterstützung ist willkommen und wir freuen uns sehr darauf, auch auf diese Weise die Freude am Basketball mit anderen teilen zu können.</p>

                <p>Wenn Interesse besteht oder Ihr auch eigene Ideen einbringen wollt – kommt auf uns zu.</p>

                <p>Wir freuen uns auf Euch!</p>

                <p>Die Trainer der U16 - Kreisliga</p>

                <p>Christian Dreher, Paul Reimann</p>

                <p>Link zu den <a href="#event-calender-u16"> U16 Trainings- und Spieltermine</a></p>

            </div>
        </div>

        <aside class="col-1-4 right last">

            <div class="widget">
                <h3 class="widget-title">Neueste Artikeln</h3>
                <ul class="list-1 widget-list">
                    <li><a href="#artikel-jetzt-erst-recht">Jetzt erst recht!</a></li>
                    <li><a href="#about-man-1">Saisonzusammenfassung<br>Herren 1</a></li>
                    <!--<li><a href="post.html">Pre season camp success</a></li>-->
                    <!--<li><a href="post.html">Road to the grand finals</a></li>-->
                </ul>
            </div>
        </aside>
    </div>

</div>
