<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">Tolle Platzierung in der Tabelle</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/u16-mix/lebron-james-nba-new-york-knicks-miami-heat.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Die U16 vor dem Spiel gegen SV Mammendorf"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/u16-mix/lebron-james-nba-new-york-knicks-miami-heat.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Die U16 hat sich in der Kreisliga sehr gut behauptet und die Saison mit einer tollen Platzierung abgeschlossen.</p>
                <p>Herzlichen Glückwunsch Jungs! Ihr habt super gekämpft und Eure Form im Lauf der Saison auch immer weiter gesteigert.</p>

                <p class="lead">Zum Ende der Saison waren 17 Spieler auf der Mannschaftsliste der U16.</p>

                <blockquote class="right">Im Durchschnitt haben zwischen 10 und 12 Spieler am Training teilgenommen. So konnten wir zu allen Spielen mit einem schlagkräftigen Kader antreten.</blockquote>


                <p>Die U16  vor dem Spiel gegen DJK SB München 3. Insbesondere gegen den SV Germering und den TSV Milbertshofen hat die U16 sehr spannende Spiele um die Tabellenspitze abgeliefert.</p>


                <p>Vielen Dank auch an die Eltern und Angehörigen, die mit Fahrtdiensten, Waschen der Trikots u.s.w. unterstützt und mit zum Erfolg beigetragen haben.</p>

                <p>Für die neue Saison 2017/2018 werden Ende Mai die Mannschaften aufgrund des Jahrgangswechsels neu eingeteilt. Für die auslaufende Saison bedanken wir uns bei allen Spielern, Eltern und Angehörigen.</p>

                <p>Es hat sehr viel Spaß gemacht.</p>

                <p>Die Trainer der U16 - Kreisliga</p>

                <p>Christian Dreher, Paul Reimann</p>

                <p>Link zu den <a href="http://www.basketball-bund.net/index.jsp?Action=102&liga_id=20577" target="_blank">Zweiten Platz in der Tabelle DBB</a></p>
                <p>Link zu den <a href="#event-calender-u16"> U16 Trainings- und Spieltermine</a></p>

            </div>
        </div>

        <aside class="col-1-4 right last">

            <div class="widget">
                <h3 class="widget-title">Neueste Artikeln</h3>
                <ul class="list-1 widget-list">
                    <li><a href="#artikel-jetzt-erst-recht">Jetzt erst recht!</a></li>
                    <li><a href="#about-man-1">Saisonzusammenfassung<br>Herren 1</a></li>
                    <!--<li><a href="post.html">Pre season camp success</a></li>-->
                    <!--<li><a href="post.html">Road to the grand finals</a></li>-->
                </ul>
            </div>
        </aside>
    </div>

</div>
