<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">TSV Forstenried Tag der offenen Tür (18.6.) - Basketball präsentiert sich</h1>

                <div class="mosaic-block circle">
                    <a href="/tsv-forstenried/app/assets/img/u12-mix/p1020407.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Insert Title"></a>
                    <div class="mosaic-backdrop">
                        <img src="/tsv-forstenried/app/assets/img/u12-mix/p1020407.jpg" alt="Mock" />
                    </div>
                </div>
                <img src="/tsv-forstenried/app/assets/img/u12-mix/p1020407.jpg" alt="Mock" />


                <p>Zunächst sah es so aus als ob der Wettergott kein Basketball (und andere Sportarten) in Aktion sehen wollte.</p>
                <p>Aber rechtzeitig zum Demonstrationsspiel unserer U12/U14 Mixmannschaften war der Platz abgetrocknet und die Coaches AJ, Marko und Clemens konnten ihre Mannschaften ins Rennen schicken: Gelb hatte den besseren Start und führte zwischenzeitlich mit 6:2 Punkten. Nach der Halbzeit kämpfte sich die rote Mannschaft heran.</p>
                <p>Ebse, der sich spontan als Schiedsrichter anbot, überwachte, dass alles mit fairen Mitteln zuging. Am Schluß siegte Gelb knapp mit 2 Punkten Führung und der Kapitän durfte wählen welche süße Belohnung seine Mannschaft erhielt.</p>

                <p class="lead">Im Anschluß konnten Interessierte am Stand vorbeikommen und Basketball ausprobieren. Unsere U16 Spieler, die zu diesem Zweck sogar zu Fünft angetreten waren, hatten zunächst Bedenken, dass sie sich langweilen würden. Doch auf einmal brach die Jagd nach den begehrten Stempeln, die man nach erfolgreicher Teilnahme erhielt, los!</p>

                <blockquote class="right">Als Motiv wurde die „Forstenrieder Wildsau“ (auch von den Mädchen) der Fee gegenüber bevorzugt. Toll war die Altersverteilung der „Stempeljäger" von U10 bis Ü40. Und oft kam auf die Frage „Hast du schon mal Basketball gespielt?“ ein Nein, so dass unsere Jugendspieler die Basics des Dribbelns/Passens/Werfens erst erklären mussten.</blockquote>


                <p>Was sie dann übrigens beeindruckend gemacht haben! Unsere zwei U18 Spieler, die zur Standablösung zur Mitte der Veranstaltung kamen, waren sichtlich erleichtert, dass sie weiterhin auf die Unterstützung der U16 zählen konnte bei derartigem Andrang.</p>

                <div class="col-2-5 left last pad-right">
                    <img class="" src="/tsv-forstenried/app/assets/img/u14-mix/img-3261.jpg" alt="Mock" />
                    <span class="wp-caption-text">General Caption about this image</span>
                </div>

                <p>Ein gelungener Tag fand um 17 Uhr seinen Abschluss bevor weitere Regengüsse den Eindruck hätte vermiesen können.</p>

                <p>Viele Grüße</p>

                <p>Claudia Reichel</p>

                <p>Link zu den <a href="#event-calender-u14-mix"> U14 mix Trainings- und Spielenzeiten</a></p>

            </div>
        </div>

        <aside class="col-1-4 right last">

            <div class="widget">
                <h3 class="widget-title">Neueste Artikeln</h3>
                <ul class="list-1 widget-list">
                    <li><a href="#artikel-jetzt-erst-recht">Jetzt erst recht!</a></li>
                    <li><a href="#about-man-1">Saisonzusammenfassung<br>Herren 1</a></li>
                    <!--<li><a href="post.html">Pre season camp success</a></li>-->
                    <!--<li><a href="post.html">Road to the grand finals</a></li>-->
                </ul>
            </div>
        </aside>
    </div>

</div>
