<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">Die Damenmannschaft sucht für die kommende Saison Verstärkung</h1>

                <div class="mosaic-block circle">
                    <a href="/tsv-forstenried/app/assets/img/bild-fuer-aufruf-damenmannschaft-sucht-verstaerkung.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Insert Title"></a>
                    <div class="mosaic-backdrop">
                        <img src="/tsv-forstenried/app/assets/img/bild-fuer-aufruf-damenmannschaft-sucht-verstaerkung.jpg" alt="Mock" />
                    </div>
                </div>
                <img src="/tsv-forstenried/app/assets/img/bild-fuer-aufruf-damenmannschaft-sucht-verstaerkung.jpg" alt="Mock" />

                <p>Basketballerinnen, die gerne am Ligabetrieb teilnehmen möchten!</p>

                <p class="lead">In 3 Spielen a 7 Minuten pro Viertel ging es für uns um 11:15 Uhr gegen DJK Landsberg los. In einem hart umkämpften Spiel konnten wir leider unsere kurzzeitige Führung nicht ausbauen und verloren letztendlich mit einem Punkt. Doch davon ließen wir uns nicht verunsichern und spielten ein souveränes zweites Spiel gegen TSV Neuöttigen. Durch eine aggressive Defense und einer schnellen Transition Offense setzten wir den Gegner von Anfang an unter Druck und erzielten daraus schnelle Körbe.</p>

                <blockquote class="right">Wir sind ein lustiges, buntgemischtes Basketballteam im Alter von Anfang 20 bis Ende 40. Die Älteren möchten in Zukunft gerne auf das ein oder andere Ligaspiel in der Bezirksklasse verzichten und so suchen wir nun für die kommende Saison Verstärkung.</blockquote>


                <p>Viel Spaß</p>

                <p>Bei Interesse melde Dich bei Senta</p>

                <p>Link zu den <a href="#event-calender-u18"> U18 Trainings- und Spielenzeiten</a></p>

            </div>
        </div>
    </div>

</div>
