<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">Basketball-Damen im Aufwind</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/general/nike-shoes-zoom-kobe-7-o6ok.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Basketball-Damen im Aufwind"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/general/nike-shoes-zoom-kobe-7-o6ok-small.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Bei den Basketball-Damen sah es zu Beginn der Saisonplanung nach einem anstrengendenWinterhalbjahr mit nur wenigen freien Wochenenden aus.</p>

                <p class="lead">In der Zwischenzeit haben jedochdrei Mannschaften ihre Teilnahme am Ligabetrieb zurückgezogen und die Lage hat sich mehrals entspannt.</p>

                <blockquote class="right">Übrig geblieben sind acht Spiele, von denen bislang die Hälfte mit großemErfolg absolviert wurde. Drei Siege und nur eine Niederlage können sich sehen lassen.</blockquote>

                <p>Maßgeblich an diesem Erfolg beteiligt sind unsere neuen Mitspielerinnen, die neuen Schwungund Elan ins Training und ins Team bringen. Äußerst hilfreich ist auch, dass wir nun bei denSpielen mit Freddy einen erfahrenen Coach als Verstärkung auf der Trainerbank sitzen haben.</p>

                <p>Unsere guten Vorsätze im neuen Jahr lauten Verbesserung der Fastbreakausbeute, Erlernenverschiedener Spielsysteme (auch wenn sich bei der einen oder anderen die grauen Zellendagegen zu sträuben scheinen)  und Verbesserung  der Beinarbeit in der Verteidigung (umunserer Foulquote zu senken).</p>

                <p>Und dann ist in der Rückrunde vielleicht auch ein Sieg gegenden bisher ungeschlagenen Tabellenersten möglich.</p>

                <p>Viel Spaß</p>

                <p>Senta Braun</p>

                <p>Link zu den <a href="#event-calender-woman-1"> Damen 1 Trainings- und Spieltermine</a></p>

            </div>
        </div>

        <aside class="col-1-4 right last">
            <div class="widget">
                <h3 class="widget-title">Neueste Artikeln</h3>
                <ul class="list-1 widget-list">
                    <li><a href="#bezirksliga–geht-noch-mehr">Bezirksliga – geht noch mehr?</a></li>
                    <li><a href="#u16-hat-dritten-platz-erarbeitet">U16 hat den dritten Platz in der Tabelle erarbeitet</a></li>
                    <li><a href="#muenchen-basket-tsv-forstenried">München Basket-TSV Forstenried - U18</a></li>
                    <li><a href="#ts-jahn-muenchen-2-tsv-forstenried">TS Jahn München 2 - TSV Forstenried - U18</a></li>
                    <li><a href="#article-die-herren-1-nimmt-sich-hohe-ziele-vor">Die Herren 1 nimmt sich hohe Ziele vor</a></li>
                    <li><a href="#artikel-die-damenmannschaft-sucht-fuer-die-kommende-saison-verstaerkung">Die Damenmannschaft sucht für die kommende Saison Verstärkung</a></li>
                </ul>
            </div>
        </aside>
    </div>

</div>
