<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">Die Damenmannschaft sucht für die kommende Saison Verstärkung</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/frau-1/thumbnail.jpeg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Die Damenmannschaft sucht für die kommende Saison Verstärkung"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/frau-1/thumbnail.jpeg" alt="Mock" />
                    </div>
                </div>

                <p>Am 4.11.17 fand in Rott am Inn die Oberbayrische Ü40 Meisterschaft statt. </p>

                <p class="lead">Wir waren dabei. Das Spiel gegen Rott lief schlechter als erwartet, dafür gegen den FC Bayern besser als erwartet.</p>

                <blockquote class="right">Trotz eines mäßigen Erfolgs hatten wir Spaß am Spiel und haben unser Bestes gegeben.</blockquote>


                <p>Ein Dankeschön an alle Beteiligten!</p>


                <p>Link zu den <a href="#event-calender-woman-1"> Damen 1 Trainings- und Spieltermine</a></p>

            </div>
        </div>

    </div>

</div>
