<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">


    <div class="wrapper blog-roll ad-pad clearfix">

        <!-- Start Main Column  -->
        <div class="col-3-4">

            <div class="clearfix post">


                <h1 class="title">Die Damenmannschaft sucht für die kommende Saison Verstärkung</h1>

                <div class="mosaic-block circle">
                    <a href="assets/img/frau-1/damen-forstenried-saison-2015-16-kleinere-version-small.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Die Damenmannschaft sucht für die kommende Saison Verstärkung"></a>
                    <div class="mosaic-backdrop">
                        <img src="assets/img/frau-1/damen-forstenried-saison-2015-16-kleinere-version.jpg" alt="Mock" />
                    </div>
                </div>

                <p>Letzte Saison ging es darum, die durch die Verschmelzung der beiden Damenteams neu formierte Mannschaft zusammenbringen und aufeinander einzustimmen.</p>

                <p class="lead">Dies ist uns geglückt! Diese Saison lautet unser Ziel, unsere neuen spielerischen Möglichkeiten und durch intensives Ballhandling verbesserten Techniken so einzusetzen, dass sie uns bei den Ligaspielen zum lang ersehnten Erfolg führen.</p>

                <blockquote class="right">Um den Mitvierzigern in unserer bunt gemischten Truppe die Möglichkeit zu bieten die alten Knochen etwas zu schonen suchen wir junge und junggebliebene Basketballerinnen zur Verstärkung. </blockquote>


                <p>Viel Spaß</p>

                <p>Bei Interesse melde Dich bei Senta</p>

                <p>Link zu den <a href="#event-calender-woman-1"> Damen 1 Trainings- und Spieltermine</a></p>

            </div>
        </div>

        <aside class="col-1-4 right last">

            <div class="widget">
                <h3 class="widget-title">Neueste Artikeln</h3>
                <ul class="list-1 widget-list">
                    <li><a href="#artikel-jetzt-erst-recht">Jetzt erst recht!</a></li>
                    <li><a href="#about-man-1">Saisonzusammenfassung<br>Herren 1</a></li>
                    <!--<li><a href="post.html">Pre season camp success</a></li>-->
                    <!--<li><a href="post.html">Road to the grand finals</a></li>-->
                </ul>
            </div>
        </aside>
    </div>

</div>
